xml/backup-plan.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2018 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/xdmp/backup-plan" xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" xmlns="http://marklogic.com/xdmp/backup-plan" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="forest-status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="non-existent"/>
      <xs:enumeration value="okay"/>
      <xs:enumeration value="backup-in-progress"/>
      <xs:enumeration value="restore-in-progress"/>
      <xs:enumeration value="busy"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="journal-archive-forest-selection-status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="okay"/>
      <xs:enumeration value="invalid"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="directory-status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="okay"/>
      <xs:enumeration value="suspect"/>
      <xs:enumeration value="corrupt"/>
      <xs:enumeration value="non-existent"/>
      <xs:enumeration value="no-access"/>
      <xs:enumeration value="in-use"/>
      <xs:enumeration value="no-space"/>
      <xs:enumeration value="is-install-dir"/>
      <xs:enumeration value="is-data-dir"/>
      <xs:enumeration value="is-public-data-dir"/>
      <xs:enumeration value="unmatched-timestamp"/>
      <xs:enumeration value="bad-path-separator"/>
      <xs:enumeration value="xdmp-decryptfail"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="general-status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="okay"/>
      <xs:enumeration value="invalid"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="forest-update">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="error"/>
      <xs:enumeration value="all"/>
      <xs:enumeration value="delete-only"/>
      <xs:enumeration value="read-only"/>
      <xs:enumeration value="flash-backup"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="merge-timestamp-status">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="missing"/>
      <xs:enumeration value="okay"/>
      <xs:enumeration value="too-late"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="action">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="backup"/>
      <xs:enumeration value="incremental-backup"/>
      <xs:enumeration value="restore"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="unknown"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="version" type="xs:string"/>
  <xs:element name="jobid" type="xs:string"/>
  <xs:element name="startdate" type="xs:string"/>
  <xs:element name="enddate" type="xs:string"/>
  <xs:element name="forest-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The name of the forest.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-id" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>
        The ID of the forest.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-status" type="forest-status">
    <xs:annotation>
      <xs:documentation>
        The status of the forest.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="directory-path" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The directory path.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-time" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Backup time extracted from path name.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="incremental-backup" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
        Whether an incremental back up occurred (true or false). Default is false.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="incremental-backup-path" type="xs:string">
    <xs:annotation>
      <xs:documentation>
       Path to the location of the incremental back up.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="incremental-backup-path-status" type="directory-status">
    <xs:annotation>
      <xs:documentation>
       Status of the incremental back up path.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="directory-status" type="directory-status">
    <xs:annotation>
      <xs:documentation>
        The status of the directory where the backup is located.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="action" type="action">
    <xs:annotation>
      <xs:documentation>
       Action to be taken by the backup plan. The action can be "backup", 
	   "incremental-backup" or "restore" depending on the plan.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="restore-to-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>
       Restore the back up to this time.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archive-forest-selection-status" type="journal-archive-forest-selection-status">
    <xs:annotation>
      <xs:documentation>
       Status of the journal archive forest selection.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archiving" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
       Whether journal archiving is enabled (true or false). Default is false.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archive-path" type="xs:string">
    <xs:annotation>
      <xs:documentation>
       Path to the location of the journal archive.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archive-path-status" type="directory-status">
    <xs:annotation>
      <xs:documentation>
       Status of the journal archive path.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journals-status" type="general-status">
    <xs:annotation>
      <xs:documentation>
       Status of the journals.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-update" type="forest-update">
    <xs:annotation>
      <xs:documentation>
       Forest update.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-update-status" type="general-status">
    <xs:annotation>
      <xs:documentation>
       Status of the forest update.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archive-lag-limit" type="xs:unsignedInt">
    <xs:annotation>
      <xs:documentation>
       Integer describing the journal archive lag limit.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="journal-archive-lag-limit-status" type="general-status">
    <xs:annotation>
      <xs:documentation>
       Status of the journal archive lag limit.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="merge-timestamp-status" type="merge-timestamp-status">
    <xs:annotation>
      <xs:documentation>
       Status of the merge timestamp.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="full-backup-status" type="directory-status">
    <xs:annotation>
      <xs:documentation>
       Status of the full backup.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
       Name of the database associated with the backup.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-id" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>
       ID of the database associated with the backup.
       </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="taginfo">
    <xs:all>
      <xs:element ref="version"/>
      <xs:element ref="jobid"/>
      <xs:element ref="startdate"/>
      <xs:element ref="enddate"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="taginfo" type="taginfo"/>
  <xs:complexType name="backup-forest">
    <xs:all>
      <xs:element ref="forest-name"/>
      <xs:element ref="directory-status"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="backup-forest" type="backup-forest"/>
  <xs:complexType name="backup-forests">
    <xs:sequence>
      <xs:element ref="backup-forest" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="backup-forests" type="backup-forests"/>
  <xs:complexType name="forest">
    <xs:all>
      <xs:element ref="forest-name"/>
      <xs:element ref="forest-id"/>
      <xs:element ref="forest-status"/>
      <xs:element ref="directory-path"/>
      <xs:element ref="directory-status"/>
      <xs:element ref="backup-time"/>
      <xs:element ref="action"/>
      <xs:element ref="restore-to-time" minOccurs="0"/>
      <xs:element ref="journal-archiving"/>
      <xs:element ref="journal-archive-path" minOccurs="0"/>
      <xs:element ref="journal-archive-path-status" minOccurs="0"/>
      <xs:element ref="journals-status" minOccurs="0"/>
      <xs:element ref="forest-update" minOccurs="0"/>
      <xs:element ref="forest-update-status" minOccurs="0"/>
      <xs:element ref="journal-archive-lag-limit" minOccurs="0"/>
      <xs:element ref="journal-archive-lag-limit-status" minOccurs="0"/>
      <xs:element ref="merge-timestamp-status" minOccurs="0"/>
      <xs:element ref="incremental-backup" minOccurs="0"/>
      <xs:element ref="incremental-backup-path" minOccurs="0"/>
      <xs:element ref="incremental-backup-path-status" minOccurs="0"/>
      <xs:element ref="full-backup-status" minOccurs="0"/>
      <xs:element ref="backup-forests" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="forest" type="forest"/>
  <xs:complexType name="database-forest">
    <xs:all>
      <xs:element ref="forest-name"/>
      <xs:element ref="forest-id"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="assignment-policy-name">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="bucket"/>
      <xs:enumeration value="statistical"/>
      <xs:enumeration value="range"/>
      <xs:enumeration value="legacy"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="assignment-policy-name" type="assignment-policy-name"/>
  <xs:element name="database-forest" type="database-forest"/>
  <xs:complexType name="database-forests">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="database-forest"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="database-forests" type="database-forests"/>
  <xs:complexType name="database">
    <xs:all>
      <xs:element ref="database-name"/>
      <xs:element ref="database-id"/>
      <xs:element ref="assignment-policy-name"/>
      <xs:element ref="database-forests"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="database" type="database"/>
  <xs:complexType name="backup-plan">
    <xs:sequence>
      <xs:element ref="taginfo" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archive-forest-selection-status" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="database" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="backup-plan" type="backup-plan"/>
</xs:schema>