xml/manage-temporal-axis-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/temporal-axis/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/temporal-axis/properties" xmlns:this="http://marklogic.com/xdmp/temporal" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:simpleType name="name">
    <xs:annotation>
      <xs:documentation>
      A name, for a temporal axis or collection.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
      A unique ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:complexType name="temporal-axis-properties" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="axis-id" minOccurs="0"/>
      <xs:element ref="axis-name" minOccurs="0"/>
      <xs:element ref="axis-start" minOccurs="0"/>
      <xs:element ref="axis-end" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="range-index" abstract="false" mixed="false">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="cts:base-reference" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="temporal-axis-properties" type="temporal-axis-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An axis with a start and end time each defined as a range index.      
      </xs:documentation>
    </xs:annotation>
    <xs:unique name="axis-unique-names">
      <xs:selector xpath="this:axis"/>
      <xs:field xpath="this:axis-name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="axis-id" type="id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      The unique ID of the axis.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="axis-name" type="name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The name of a temporal axis. 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="axis-start" type="range-index" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Range index defining the axis start timestamp.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="axis-end" type="range-index" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Range index defining the axis end timestamp.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>
      Schema for specifying temporal management configurations.
    </xs:documentation>
    <xs:appinfo/>
  </xs:annotation>
  <?xdmp-annotations?>
</xs:schema>