xml/manage-cluster-local-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/cluster-local/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/cluster-local/properties" xmlns:gr="http://marklogic.com/xdmp/group" xmlns:ks="http://marklogic.com/xdmp/keystore" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="http://marklogic.com/xdmp/group" schemaLocation="group.xsd"/>
  <xs:simpleType name="security-version">
    <xs:annotation>
      <xs:documentation>
        The security database version.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:double"/>
  </xs:simpleType>
  <xs:simpleType name="cluster-id">
    <xs:annotation>
      <xs:documentation>
        A cluster ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="softwareVersion">
    <xs:annotation>
      <xs:documentation>
        Software version of a cluster
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-fips-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL FIPS is enabled.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="host-id">
    <xs:annotation>
      <xs:documentation>
        A host unique ID (64-bit value).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        A host name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1" fixed="false"/>
      <xs:maxInclusive value="65534" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="language-baseline">
    <xs:annotation>
      <xs:documentation>
      Overall language baseline configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="legacy"/>
      <xs:enumeration value="ml9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="log-level">
    <xs:annotation>
      <xs:documentation>
        Logging configuration for all logging features. Inherits from group.xsd.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="gr:log-level"/>
  </xs:simpleType>
  <xs:simpleType name="opsdirector-metering">
    <xs:annotation>
      <xs:documentation>
        The type of metering data collected by Ops Director.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="raw"/>
      <xs:enumeration value="hourly"/>
      <xs:enumeration value="daily"/>
      <xs:enumeration value="disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="opsdirector-session-endpoint">
    <xs:annotation>
      <xs:documentation>
        The REST URI for the Ops Director Session API endpoint.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:list itemType="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="opsdirector-config">
    <xs:annotation>
      <xs:documentation>
        The type of configuration data collected by Ops Director.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="frequent"/>
      <xs:enumeration value="infrequent"/>
      <xs:enumeration value="disabled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="cluster-local-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The server specification.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="security-version" minOccurs="0"/>
      <xs:element ref="effective-version" minOccurs="0"/>
      <xs:element ref="cluster-id" minOccurs="0"/>
      <xs:element ref="cluster-name" minOccurs="0"/>
      <xs:element ref="ssl-fips-enabled" minOccurs="0"/>
      <xs:element ref="xdqp-ssl-certificate" minOccurs="0"/>
      <xs:element ref="bootstrap-hosts" minOccurs="0"/>
      <xs:element ref="language-baseline" minOccurs="0"/>
      <xs:element ref="opsdirector-log-level" minOccurs="0"/>
      <xs:element ref="opsdirector-metering" minOccurs="0"/>
      <xs:element ref="opsdirector-config" minOccurs="0"/>
      <xs:element ref="opsdirector-session-endpoint" minOccurs="0"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="filesystem-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="version" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="timestamp" type="xs:unsignedLong" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ssl-certificate" mixed="true" abstract="false">
    <xs:annotation>
      <xs:documentation/>
      <xs:appinfo/>
    </xs:annotation>
    <xs:attribute name="file" use="optional"/>
  </xs:complexType>
  <xs:complexType name="bootstrap-hosts" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The hosts that foreign clusters will use to bootstrap communication
        with this cluster.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="bootstrap-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="security-version" type="security-version" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The security database version.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-local-properties" type="cluster-local-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The cluster specification.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-id" type="cluster-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The cluster ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-name" type="cluster-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The cluster name
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="effective-version" type="softwareVersion" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The effective software version of this cluster.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-fips-enabled" type="ssl-fips-enabled" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not SSL FIPS is enabled.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="xdqp-ssl-certificate" type="ssl-certificate" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The PEM encoded certificate for this cluster. If the 'file' attribute is
        present, it is a file containing the PEM encoded certificate.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="bootstrap-hosts" type="bootstrap-hosts" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The hosts that foreign clusters will use to bootstrap communication
        with this cluster.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="bootstrap-host" type="bootstrap-host" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Information related to a particular foreign host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="bootstrap-host" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="bootstrap-host-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="bootstrap-host-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="bootstrap-connect-port" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="bootstrap-host-id" type="host-id">
    <xs:annotation>
      <xs:documentation>
        The ID of the host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="bootstrap-host-name" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of the host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="bootstrap-connect-port" type="port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol client socket connect internet port number.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="data-directory" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The data directory.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="filesystem-directory" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The filesystem directory.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The cluster role.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="version" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Version of cluster.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="language-baseline" type="language-baseline" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Overall language baseline configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="opsdirector-log-level" type="log-level" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The minimum log level for log messages sent ops director.
        A value of 'disabled' disables all ops director log data.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="opsdirector-metering" type="opsdirector-metering" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The type of metering data collected by Ops Director.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="opsdirector-session-endpoint" type="opsdirector-session-endpoint" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The REST URI for the Ops Director Session API endpoint.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="opsdirector-config" type="opsdirector-config" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The type of configuration data collected by Ops Director.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>
      Clusters configuration file schema.
    </xs:documentation>
    <xs:appinfo/>
  </xs:annotation>
  <?xdmp-annotations?>
</xs:schema>