xml/manage-alert-rule-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/alert-rule/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/alert-rule/properties" xmlns:cts="http://marklogic.com/cts" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:complexType name="query" abstract="false" mixed="false">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:any processContents="skip" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="options" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The options for a rule or action or configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:any minOccurs="0" maxOccurs="unbounded" namespace="##any" processContents="skip"/>
    </xs:sequence>
    <xs:attribute name="js" type="xs:boolean" use="optional"/>
    <xs:attribute name="unfiltered" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="alert-rule-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A rule description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="user-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="query" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="action-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="external-security-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="user-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="name" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="description" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="user-id" type="xs:unsignedLong" abstract="false" nillable="false"/>
  <xs:element name="external-security-id" type="xs:unsignedLong" abstract="false" nillable="false"/>
  <xs:element name="user-name" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="options" type="options" abstract="false" nillable="false"/>
  <xs:element name="query" type="query" abstract="false" nillable="false"/>
  <xs:element name="action-name" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="alert-rule-properties" type="alert-rule-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The alert rule description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>