xml/manage-alert-config-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/alert-config/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/alert-config/properties" xmlns:cts="http://marklogic.com/cts" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:complexType name="triggers">
    <xs:annotation>
      <xs:documentation>
        The triggers for an alert configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="trigger" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="trigger" type="xs:string" abstract="false" nillable="false"/>
  <xs:complexType name="actions">
    <xs:annotation>
      <xs:documentation>
        The alert actions for an alert configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="action" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="action" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="actions" type="actions" abstract="false" nillable="false"/>
  <xs:complexType name="domains">
    <xs:annotation>
      <xs:documentation>
        The domains for an alert configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="domain" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="domain" type="xs:string" abstract="false" nillable="false"/>
  <xs:complexType name="options">
    <xs:annotation>
      <xs:documentation>
        The options for an alert configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="option" type="xs:string" abstract="false" nillable="false"/>
  <xs:complexType name="alert-config-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A configuration description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uri" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="triggers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="domains" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="actions" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="options" type="options" abstract="false" nillable="false"/>
  <xs:element name="uri" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="id" type="xs:unsignedLong" abstract="false" nillable="false"/>
  <xs:element name="name" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="description" type="xs:string" abstract="false" nillable="false"/>
  <xs:element name="triggers" type="triggers" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The triggers for an alert configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="domains" type="domains" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The cpf domains for an alert configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="alert-config-properties" type="alert-config-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The alert configuration description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:attribute name="id" type="xs:unsignedLong"/>
  <?xdmp-annotations?>
</xs:schema>