xml/manage-secure-credential-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/secure-credential/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sec="http://marklogic.com/xdmp/security" xmlns="http://marklogic.com/manage/secure-credential/properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
                An object's unique id.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="id" type="id">
    <xs:annotation>
      <xs:documentation>
                Credential id.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                The name of this credential.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                An credential's description.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="username" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                An credential's username.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="password" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                An credential's password.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="pem">
    <xs:annotation>
      <xs:documentation>
                PEM encoded data.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="certificate" type="pem">
    <xs:annotation>
      <xs:documentation>
                An credential's certificate.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="private-key" type="pem">
    <xs:annotation>
      <xs:documentation>
                An credential's private key.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="credential-signing">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:element name="signing" type="credential-signing">
    <xs:annotation>
      <xs:documentation>
                An credential's signing.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="uri-pattern" type="xs:string">
    <xs:annotation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="credential-authentication">
    <xs:restriction base="xs:string">
      <xs:enumeration value="basic"/>
      <xs:enumeration value="digest"/>
      <xs:enumeration value="simple"/>
      <xs:enumeration value="MD5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="authentication" type="credential-authentication"/>
  <xs:complexType name="target">
    <xs:sequence>
      <xs:element ref="uri-pattern"/>
      <xs:element ref="authentication"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="targets">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="target"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="target" type="target">
    <xs:annotation>
      <xs:documentation>
                An credential's targets.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="targets" type="targets">
    <xs:annotation>
      <xs:documentation>
                An credential's targets.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-id" type="id">
    <xs:annotation>
      <xs:documentation>
                A role identifier (unique key).
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
                The action permitted on an object.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
      <xs:enumeration value="node-update"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="capability" type="capability">
    <xs:annotation>
      <xs:documentation>
                The action/task permitted by a permission
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
                The role name
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
                A permission.
            </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="role-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="permission" type="permission">
    <xs:annotation>
      <xs:documentation>
                Permission representation.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="permissions">
    <xs:annotation>
      <xs:documentation>
                A set of permissions
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="permissions" type="permissions">
    <xs:annotation>
      <xs:documentation>
                An credential's permissions.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="secure-credential-properties">
    <xs:all>
      <xs:element ref="id" minOccurs="0"/>
      <xs:element ref="name" minOccurs="0"/>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element ref="username" minOccurs="0"/>
      <xs:element ref="password" minOccurs="0"/>
      <xs:element ref="certificate" minOccurs="0"/>
      <xs:element ref="private-key" minOccurs="0"/>
      <xs:element ref="signing" minOccurs="0"/>
      <xs:element ref="targets" minOccurs="0"/>
      <xs:element ref="permissions" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="secure-credential-properties" type="secure-credential-properties">
    <xs:annotation>
      <xs:documentation>
                A secure credential.
            </xs:documentation>
      <xs:appinfo>
            </xs:appinfo>
    </xs:annotation>
  </xs:element>
</xs:schema>