xml/manage-resources.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/meters/transient-resource/model" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/meters/transient-resource/model">
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="server">
    <xs:sequence>
      <xs:element ref="cluster-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="group-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="server-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="type" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="forests-ids">
    <xs:sequence>
      <xs:element ref="forest-id" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="database">
    <xs:sequence>
      <xs:element ref="cluster-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="group-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="database-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests-ids" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="forest">
    <xs:sequence>
      <xs:element ref="cluster-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="group-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="host">
    <xs:sequence>
      <xs:element ref="cluster-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="group-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="group">
    <xs:sequence>
      <xs:element ref="group-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="cluster">
    <xs:sequence>
      <xs:element ref="cluster-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
    <xs:attribute name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="resources">
    <xs:annotation>
      <xs:documentation>transient resources used by meters.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="end" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="cluster" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="forest" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="database" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="server" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item-summary">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="item-summary" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="specified-seconds-min">
    <xs:annotation>
      <xs:documentation>The minimum number of seconds specified
      to qualify the list of requests or transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-seconds">
    <xs:annotation>
      <xs:documentation>The maximum length in seconds
      for the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ninetieth-percentile-seconds">
    <xs:annotation>
      <xs:documentation>The length in seconds
      for the ninetieth percentile of the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="median-seconds">
    <xs:annotation>
      <xs:documentation>The median length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean-seconds">
    <xs:annotation>
      <xs:documentation>The mean length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="standard-dev-seconds">
    <xs:annotation>
      <xs:documentation>The standard deviation in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="min-seconds">
    <xs:annotation>
      <xs:documentation>The minimum length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-requests">
    <xs:annotation>
      <xs:documentation>The total number
      of active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-count">
    <xs:annotation>
      <xs:documentation>The total number of active update
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-count">
    <xs:annotation>
      <xs:documentation>The total number of active query
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-transactions">
    <xs:annotation>
      <xs:documentation>The total number
      of open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="start" type="xs:dateTime"/>
  <xs:element name="end" type="xs:dateTime"/>
  <xs:element name="cluster-id" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="group-id" type="xs:string"/>
  <xs:element name="host-id" type="xs:string"/>
  <xs:element name="forest-id" type="xs:string"/>
  <xs:element name="database-id" type="xs:string"/>
  <xs:element name="server-id" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="server" type="server"/>
  <xs:element name="forests-ids" type="forests-ids"/>
  <xs:element name="database" type="database"/>
  <xs:element name="forest" type="forest"/>
  <xs:element name="host" type="host"/>
  <xs:element name="group" type="group"/>
  <xs:element name="cluster" type="cluster"/>
  <xs:element name="resources" type="resources">
    <xs:annotation>
      <xs:documentation>transient resources used by meters.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-summary">
    <xs:complexType/>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>