xml/manage-role-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/role/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/role/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
      <xs:enumeration value="node-update"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="compartment">
    <xs:annotation>
      <xs:documentation>
	A compartment for a role.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        An object's description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="external-name">
    <xs:annotation>
      <xs:documentation>
        An External Name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation/>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uri">
    <xs:annotation>
      <xs:documentation>
        The uri for the collection.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A permission.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="role-name"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="permissions" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of permissions
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="collections" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of collection uri's
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="collection" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="role-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A security role
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="role-name" minOccurs="0"/>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element ref="compartment" minOccurs="0"/>
      <xs:element ref="external-names" minOccurs="0"/>
      <xs:element ref="roles" minOccurs="0"/>
      <xs:element ref="permissions" minOccurs="0"/>
      <xs:element ref="privileges" minOccurs="0"/>
      <xs:element ref="collections" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="privileges" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A list of privileges.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="privilege" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="privileges" type="privileges">
    <xs:annotation>
      <xs:documentation>
  	A list of privileges.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="privilege" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A privilege on a function/built-in.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="privilege-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="action" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="kind" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="privilege" type="privilege">
    <xs:annotation>
      <xs:documentation>
  	A privilege.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="privilege-name">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="privilege-name" type="privilege-name">
    <xs:annotation>
      <xs:documentation>
  	Privilege name (unique)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="action">
    <xs:annotation>
      <xs:documentation>
        A function, built-in name, or representation of something to protect.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="action" type="action" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A URI to protect.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="kind">
    <xs:annotation>
      <xs:documentation>
	The kind of privilege: execute, collection, or uri
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="execute"/>
      <xs:enumeration value="uri"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="kind" type="kind" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A protected "action" (or object).
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="role-ids" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of role-ids
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="external-names" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The name contains names that match external group names.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="external-name" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="capability" type="capability" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="permission" type="permission" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="permissions" type="permissions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="collections" type="collections" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of collections used in document creation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="compartment" type="compartment" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The compartment that this role is part of.
      </xs:documentation>
      <xs:appinfo><admin:optional>true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-name" type="role-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Role name (unique)
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="role" type="xs:NMTOKEN" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A role identifier (unique key).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-properties" type="role-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A security role.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="roles" type="role-ids" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The roles assigned.
        <admin:user>The roles assigned to the user.</admin:user></xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" type="description" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	An object's description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-name" type="external-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The name used to match external group name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-names" type="external-names" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The external names specifications.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="collection" type="uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The collection uri.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>