xml/manage-flexrep-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/flexrep/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/flexrep/properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cpf="http://marklogic.com/cpf" xmlns:dom="http://marklogic.com/cpf/domains" xmlns:doc="xdmp:document-load" xmlns:prop="http://marklogic.com/xdmp/property" xmlns:error="http://marklogic.com/xdmp/error" xmlns:http="xdmp:http" xmlns:eval="xdmp:eval" xmlns:extusr="http://marklogic.com/xdmp/external/user">
  <xs:import namespace="http://marklogic.com/cpf" schemaLocation="cpf.xsd"/>
  <xs:import namespace="http://marklogic.com/cpf/domains" schemaLocation="domains.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/error" schemaLocation="error.xsd"/>
  <xs:import namespace="xdmp:document-load" schemaLocation="document-load.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/property" schemaLocation="property.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/security" schemaLocation="security.xsd"/>
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="xdmp:eval" schemaLocation="eval.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/external/user" schemaLocation="external-user.xsd"/>
  <xs:simpleType name="filter-module">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:complexType name="flexrep-properties" abstract="false" mixed="false">
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element ref="inbound-filter-module" minOccurs="0"/>
      <xs:element ref="inbound-filter-options" minOccurs="0"/>
      <xs:element ref="extusr:external-user" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="flexrep-properties" type="flexrep-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Flexible replication properties.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="inbound-filter-module" type="filter-module" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The name of a module to invoke as a filter.
      </xs:documentation>
      <xs:appinfo><admin:optional>true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="inbound-filter-options" type="eval:options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The options to use when invoking the filter module.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>