xml/manage-privilege-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/privilege/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/privilege/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="action">
    <xs:annotation>
      <xs:documentation>
        A function, built-in name, or representation of something to protect.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kind">
    <xs:annotation>
      <xs:documentation>
	The kind of privilege: execute, collection, or uri
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="execute"/>
      <xs:enumeration value="uri"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="privilege-name">
    <xs:annotation>
      <xs:documentation/>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="privilege-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A privilege on a function/built-in.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="privilege-name" minOccurs="0"/>
      <xs:element ref="action" minOccurs="0"/>
      <xs:element ref="kind" minOccurs="0"/>
      <xs:element ref="roles" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="role-ids" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of role-ids
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="action" type="action" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A URI to protect.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="kind" type="kind" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A protected "action" (or object).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="privilege-properties" type="privilege-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Privilege representation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="role" type="xs:NMTOKEN" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A role identifier (unique key).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="roles" type="role-ids" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The roles assigned.
        <admin:user>The roles assigned to the user.</admin:user></xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="privilege-name" type="privilege-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Privilege name (unique)
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>