xml/manage-security.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/security" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/security">
  <xs:complexType name="authentication">
    <xs:sequence>
      <xs:element ref="username" minOccurs="0"/>
      <xs:element ref="password" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="method" type="auth-method"/>
  </xs:complexType>
  <xs:simpleType name="timeout">
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:simpleType name="document-uri">
    <xs:annotation>
      <xs:documentation>
        A document URI.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="action">
    <xs:annotation>
      <xs:documentation>
        A function, built-in name, or representation of something to protect.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="kind">
    <xs:annotation>
      <xs:documentation>
	The kind of privilege: execute, collection, or uri
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="execute"/>
      <xs:enumeration value="uri"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="compartment">
    <xs:annotation>
      <xs:documentation>
	A compartment for a role.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        An object's description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="user-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[a-zA-Z0-9._@-]+"/>
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="authorization">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="internal"/>
      <xs:enumeration value="ldap"/>
      <xs:enumeration value="saml"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ldap-server-uri">
    <xs:annotation>
      <xs:documentation>
        ldap server uri.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-base">
    <xs:annotation>
      <xs:documentation>
        ldap base.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap attribute.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-default-user">
    <xs:annotation>
      <xs:documentation>
        ldap default user.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-password">
    <xs:annotation>
      <xs:documentation>
        ldap password.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="username">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="password">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="username" abstract="false" nillable="false" type="username">
    <xs:annotation>
      <xs:documentation>
        The username to use.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="xdmp:http" xmlns:xdmp="http://marklogic.com/xdmp">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="password" abstract="false" nillable="false" type="password">
    <xs:annotation>
      <xs:documentation>
        The password to use.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="xdmp:http" xmlns:xdmp="http://marklogic.com/xdmp">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="timeout">
    <xs:annotation>
      <xs:documentation>
        The timeout
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="timeout">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="authentication" abstract="false" nillable="false" type="authentication">
    <xs:annotation>
      <xs:documentation>
        The authentication credentials to use.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="document-uri" abstract="false" nillable="false" type="document-uri">
    <xs:annotation>
      <xs:documentation>
	A document's URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="namespace" abstract="false" nillable="false" type="namespace">
    <xs:annotation>
      <xs:documentation>
	A namespace.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="action" abstract="false" nillable="false" type="action">
    <xs:annotation>
      <xs:documentation>
  	A URI to protect.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="kind">
    <xs:annotation>
      <xs:documentation>
  	A protected "action" (or object).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="kind">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="compartment" abstract="false" nillable="false" type="compartment">
    <xs:annotation>
      <xs:documentation>
        The compartment that this role is part of.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/security" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:sec="http://marklogic.com/xdmp/security" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" abstract="false" nillable="false" type="description">
    <xs:annotation>
      <xs:documentation>
  	An object's description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="user-name" abstract="false" nillable="false" type="user-name">
    <xs:annotation>
      <xs:documentation>
  	User/login name (unique)
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="authorization">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="authorization">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ldap-server-uri" abstract="false" nillable="false" type="ldap-server-uri">
    <xs:annotation>
      <xs:documentation>
        URI of the ldap server. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-base" abstract="false" nillable="false" type="ldap-base">
    <xs:annotation>
      <xs:documentation>
        starting point for search. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-attribute" abstract="false" nillable="false" type="ldap-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap attribute for user lookup. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-default-user" abstract="false" nillable="false" type="ldap-default-user">
    <xs:annotation>
      <xs:documentation>
        ldap user used by MarkLogic server. 
        Required if authentication is kerberos and authorization is ldap or bind method is simple.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-password" abstract="false" nillable="false" type="ldap-password">
    <xs:annotation>
      <xs:documentation>
        password of the default ldap user. 
        Required if authentication is kerberos and authorization is ldap or bind method is simple.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>A certificate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>The list of certificates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="query-roleset-default">
    <xs:annotation>
      <xs:documentation>The summary for a query-roleset.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amp-default">
    <xs:annotation>
      <xs:documentation>The summary for an amp.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="namespace" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="document-uri" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="modules-database" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user-default">
    <xs:annotation>
      <xs:documentation>The summary for a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="protected-path-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of protected paths.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="protected-collections-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of protected collections.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-templates-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificate templates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="privilege-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of privileges.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="secure-credential-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of secure credentials.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="external-security-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of external security settings.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="protected-path-default">
    <xs:annotation>
      <xs:documentation>The summary for a protected path.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="protected-path" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="protected-collection-default">
    <xs:annotation>
      <xs:documentation>The summary for a protected collection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="collection" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-template-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate template.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item-summary">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="privilege-default">
    <xs:annotation>
      <xs:documentation>The summary for a privilege.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="action" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="kind" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="secure-credential-default">
    <xs:annotation>
      <xs:documentation>The summary for a secure credential.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of roles.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="external-security-default">
    <xs:annotation>
      <xs:documentation>The summary for an external security.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="authentication" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="cache-timeout" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="authorization" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-server-uri" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-base" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-attribute" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-default-user" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-password" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate">
    <xs:sequence/>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="certificate-list">
    <xs:annotation>
      <xs:documentation>A list of certificates.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="certificate" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-authorities-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificate authorities.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="role-default">
    <xs:annotation>
      <xs:documentation>The summary for a role.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="description" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="compartment" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="query-roleset-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of query rolesets.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="amp-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of amps.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="user-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of users.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="export-wallet-operation">
    <xs:annotation>
      <xs:documentation>Export keystore wallet operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="filename" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="import-wallet-operation">
    <xs:annotation>
      <xs:documentation>Import keystore wallet operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="filename" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rotate-logs-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate logs encryption key operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rotate-data-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate data encryption key operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rotate-config-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate config encryption key operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-authority-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate authority.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="operation" type="xs:string"/>
  <xs:element name="filename" type="xs:string"/>
  <xs:element name="password" type="xs:string"/>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of users.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="specified-seconds-min">
    <xs:annotation>
      <xs:documentation>The minimum number of seconds specified
      to qualify the list of requests or transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="max-seconds">
    <xs:annotation>
      <xs:documentation>The maximum length in seconds
      for the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="ninetieth-percentile-seconds">
    <xs:annotation>
      <xs:documentation>The length in seconds
      for the ninetieth percentile of the active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="median-seconds">
    <xs:annotation>
      <xs:documentation>The median length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="mean-seconds">
    <xs:annotation>
      <xs:documentation>The mean length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="standard-dev-seconds">
    <xs:annotation>
      <xs:documentation>The standard deviation in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="min-seconds">
    <xs:annotation>
      <xs:documentation>The minimum length in seconds
      for the active requests or the open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-requests">
    <xs:annotation>
      <xs:documentation>The total number
      of active requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="update-count">
    <xs:annotation>
      <xs:documentation>The total number of active update
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="query-count">
    <xs:annotation>
      <xs:documentation>The total number of active query
      requests.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="total-transactions">
    <xs:annotation>
      <xs:documentation>The total number
      of open transactions.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="collection" type="xs:string"/>
  <xs:element name="protected-path" type="xs:string"/>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.  
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="modules-database" type="xs:string"/>
  <xs:element name="name" type="user-name">
    <xs:annotation>
      <xs:documentation>
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="cache-timeout" type="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>A certificate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>The list of certificates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-default-list" type="certificate-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query-roleset-default" type="query-roleset-default">
    <xs:annotation>
      <xs:documentation>The summary for a query-roleset.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="amp-default" type="amp-default">
    <xs:annotation>
      <xs:documentation>The summary for an amp.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="user-default" type="user-default">
    <xs:annotation>
      <xs:documentation>The summary for a user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="protected-path-default-list" type="protected-path-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of protected paths.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="protected-collections-default-list" type="protected-collections-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of protected collections.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-templates-default-list" type="certificate-templates-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificate templates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="privilege-default-list" type="privilege-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of privileges.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-default" type="certificate-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="secure-credential-default-list" type="secure-credential-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of secure credentials.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-security-default-list" type="external-security-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of external security settings.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="protected-path-default" type="protected-path-default">
    <xs:annotation>
      <xs:documentation>The summary for a protected path.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="protected-collection-default" type="protected-collection-default">
    <xs:annotation>
      <xs:documentation>The summary for a protected collection.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-template-default" type="certificate-template-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate template.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-summary">
    <xs:complexType/>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="privilege-default" type="privilege-default">
    <xs:annotation>
      <xs:documentation>The summary for a privilege.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="secure-credential-default" type="secure-credential-default">
    <xs:annotation>
      <xs:documentation>The summary for a secure credential.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-default-list" type="role-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of roles.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-security-default" type="external-security-default">
    <xs:annotation>
      <xs:documentation>The summary for an external security.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate">
    <xs:complexType>
      <xs:attribute name="array" type="xs:boolean" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="certificate-list" type="certificate-list">
    <xs:annotation>
      <xs:documentation>A list of certificates.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-authorities-default-list" type="certificate-authorities-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of certificate authorities.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-default" type="role-default">
    <xs:annotation>
      <xs:documentation>The summary for a role.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="query-roleset-default-list" type="query-roleset-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of query rolesets.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="amp-default-list" type="amp-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of amps.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="user-default-list" type="user-default-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of users.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="export-wallet-operation" type="export-wallet-operation">
    <xs:annotation>
      <xs:documentation>Export keystore wallet operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="import-wallet-operation" type="import-wallet-operation">
    <xs:annotation>
      <xs:documentation>Import keystore wallet operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rotate-logs-encryption-key-operation" type="rotate-logs-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate logs encryption key operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rotate-data-encryption-key-operation" type="rotate-data-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate data encryption key operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="rotate-config-encryption-key-operation" type="rotate-config-encryption-key-operation">
    <xs:annotation>
      <xs:documentation>Rotate config encryption key operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="certificate-authority-default" type="certificate-authority-default">
    <xs:annotation>
      <xs:documentation>The summary for a certificate authority.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>