xml/manage.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--GENERATED SCHEMA - PLEASE DO NOT EDIT-->
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>
    A database unique identifier.
    </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="data-directory">
    <xs:annotation>
      <xs:documentation>
        An optional public directory for forests.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="forest-id">
    <xs:annotation>
      <xs:documentation>
        A forest unique ID (64-bit value).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
      <xs:pattern value="([^\\*?/:&lt;&gt;|&quot; \.'])|([^\\*?/:&lt;&gt;|&quot; \.'][^\\*?/:&lt;&gt;|&quot;]*[^\\*?/:&lt;&gt;|&quot; \.'])"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="updates-allowed">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="all"/>
      <xs:enumeration value="delete-only"/>
      <xs:enumeration value="read-only"/>
      <xs:enumeration value="flash-backup"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="forest-backups">
    <xs:annotation>
      <xs:documentation>
        The scheduled backups for this forest.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="forest-backup"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="range">
    <xs:all>
      <xs:element ref="lower-bound" minOccurs="0"/>
      <xs:element ref="upper-bound" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="availability">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="online"/>
      <xs:enumeration value="offline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="licensee">
    <xs:annotation>
      <xs:documentation>
        A licensee name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="license-key">
    <xs:annotation>
      <xs:documentation>
        A license key.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="queue-size">
    <xs:annotation>
      <xs:documentation>
        An integer number of tasks.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="10000000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="password">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="zone">
    <xs:annotation>
      <xs:documentation>
        Zone the host belongs to.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="host-name">
    <xs:annotation>
      <xs:documentation>
        The name of a Host
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[^ ].*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enabled">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="assignment-policy">
    <xs:annotation>
      <xs:documentation>
        The policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="assignment-policy-name"/>
      <xs:element ref="partition-key" minOccurs="0"/>
      <xs:element ref="lower-bound-included" minOccurs="0"/>
      <xs:element ref="default-partition" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="rebalancer-throttle">
    <xs:annotation>
      <xs:documentation>
        Larger numbers mean work harder at rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="3"/>
      <xs:enumeration value="4"/>
      <xs:enumeration value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lag-limit">
    <xs:annotation>
      <xs:documentation>
        A lag limit, in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:annotation>
      <xs:documentation>
        true or false
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The type for the boundaries used by the range assignment policy
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="port">
    <xs:annotation>
      <xs:documentation>
        An integer internet port number, min 1, max 65534.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65534"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="host-mode-type">
    <xs:annotation>
      <xs:documentation>
        A host mode
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="maintenance"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="host-mode-description-type">
    <xs:annotation>
      <xs:documentation>
        A description for this host mode
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="cluster-name">
    <xs:annotation>
      <xs:documentation>
        A cluster name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="forest-backup">
    <xs:annotation>
      <xs:documentation>
        A scheduled forest backup.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="backup-id"/>
      <xs:element ref="backup-enabled"/>
      <xs:element ref="backup-directory"/>
      <xs:element ref="backup-type"/>
      <xs:element ref="backup-period" minOccurs="0"/>
      <xs:element ref="backup-month-day" minOccurs="0"/>
      <xs:element ref="backup-days" minOccurs="0"/>
      <xs:element ref="backup-start-date" minOccurs="0"/>
      <xs:element ref="backup-start-time" minOccurs="0"/>
      <xs:element ref="backup-timestamp" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:simpleType name="assignment-policy-name">
    <xs:annotation>
      <xs:documentation>
        What policy to use for assignment and rebalancing.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="bucket"/>
      <xs:enumeration value="statistical"/>
      <xs:enumeration value="range"/>
      <xs:enumeration value="legacy"/>
      <xs:enumeration value="query"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="partition-key">
    <xs:annotation>
      <xs:documentation>
        The partition key of the range assignment policy.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="cts:base-reference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="default-partition">
    <xs:annotation>
      <xs:documentation>
         If a document does not match any queries in all the partitions,
         it will be inserted into the default-partition.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt"/>
  </xs:simpleType>
  <xs:complexType name="backup-days">
    <xs:annotation>
      <xs:documentation>
        A selection of days.
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="7">
      <xs:element ref="backup-day"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="backup-month-day">
    <xs:restriction base="xs:positiveInteger">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="31"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="backup-type">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="once"/>
      <xs:enumeration value="monthly"/>
      <xs:enumeration value="weekly"/>
      <xs:enumeration value="daily"/>
      <xs:enumeration value="hourly"/>
      <xs:enumeration value="minutely"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="backup-period">
    <xs:restriction base="xs:positiveInteger"/>
  </xs:simpleType>
  <xs:simpleType name="directory-pathname">
    <xs:annotation>
      <xs:documentation>
        It can be absolute or relative.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="backup-timestamp">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:simpleType name="start-time">
    <xs:annotation>
      <xs:documentation>
	The starting time (in 24:00 notation).
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:time"/>
  </xs:simpleType>
  <xs:simpleType name="start-date">
    <xs:annotation>
      <xs:documentation>
        The starting date (in MM/DD/YYYY notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="backup-id">
    <xs:annotation>
      <xs:documentation>
        A backup ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="backup-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether a backup is enabled.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="day">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="monday"/>
      <xs:enumeration value="tuesday"/>
      <xs:enumeration value="wednesday"/>
      <xs:enumeration value="thursday"/>
      <xs:enumeration value="friday"/>
      <xs:enumeration value="saturday"/>
      <xs:enumeration value="sunday"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="backup-day">
    <xs:annotation>
      <xs:documentation>
        A day that this backup occurs.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="day">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-days" abstract="false" nillable="false" type="backup-days">
    <xs:annotation>
      <xs:documentation>
        The days that this backup happens.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-month-day" abstract="false" nillable="false" type="backup-month-day">
    <xs:annotation>
      <xs:documentation>
        The day of the month that this backup happens.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-type">
    <xs:annotation>
      <xs:documentation>
        What type of backup is this.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="backup-type">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-period" abstract="false" nillable="false" type="backup-period">
    <xs:annotation>
      <xs:documentation>
        How often this backup should run (every n months, weeks, days, hours or minutes).
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-directory" abstract="false" nillable="false" type="directory-pathname">
    <xs:annotation>
      <xs:documentation>
        The backup directory pathname.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-start-time" abstract="false" nillable="false" type="start-time">
    <xs:annotation>
      <xs:documentation>
	The starting time (in 24:00 notation).
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="backup-start-date">
    <xs:annotation>
      <xs:documentation>
        The starting date (in MM/DD/YYYY notation) for a one-time backup
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="start-date">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-timestamp">
    <xs:annotation>
      <xs:documentation>
        The date and time this backup was created.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="backup-timestamp">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-id">
    <xs:annotation>
      <xs:documentation>
        The backup ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="backup-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-enabled">
    <xs:annotation>
      <xs:documentation>
        Whether or not a backup is enabled
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="backup-enabled">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forest-backup" abstract="false" nillable="false" type="forest-backup">
    <xs:annotation>
      <xs:documentation>
        A scheduled forest backup.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="assignment-policy-name">
    <xs:annotation>
      <xs:documentation>
         What policy to use for assignment and rebalancing.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="assignment-policy-name">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="partition-key" abstract="false" nillable="false" type="partition-key">
    <xs:annotation>
      <xs:documentation>
         The partition key of the range assignment policy.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="lower-bound-included">
    <xs:annotation>
      <xs:documentation>
         If this is true, ranges on all forests in this database include the
         lower bound but not the upper bound (i.e., [lower-bound, upper-bound));
         if this is false, ranges on all forests include the upper bound
         but not the lower bound (i.e., (lower-bound, upper-bound]).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="default-partition">
    <xs:annotation>
      <xs:documentation>
         If a document does not match any queries in all the partitions,
         it will be inserted into the default-partition.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/database" xmlns:sec="http://marklogic.com/xdmp/security" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="default-partition">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional public directory for forests.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="large-data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional directory for large objects in a forest.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="fast-data-directory" abstract="false" nillable="false" type="data-directory">
    <xs:annotation>
      <xs:documentation>
        The optional smaller but faster directory for forests.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-id">
    <xs:annotation>
      <xs:documentation>
        The unique key of a forest.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="forest-id">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="enabled">
    <xs:annotation>
      <xs:documentation>
        Forest enabled status.
      </xs:documentation>
      <xs:appinfo><manage:health equals="false()" state="maintenance" code="HEALTH-FOREST-DISABLED" xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml"/><manage:health equals="false()" state="offline" code="HEALTH-FOREST-OFFLINE" xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml"/></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forest-name" abstract="false" nillable="false" type="forest-name">
    <xs:annotation>
      <xs:documentation>
        The forest name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-enable">
    <xs:annotation>
      <xs:documentation>
	Enable assignment to a failover host if the primary host is down.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="updates-allowed">
    <xs:annotation>
      <xs:documentation>
      The kinds of updates that should be allowed for this forest.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">false</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="updates-allowed">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="rebalancer-enable">
    <xs:annotation>
      <xs:documentation>
        Enable automatic rebalancing after configuration changes.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="forest-backups" abstract="false" nillable="false" type="forest-backups">
    <xs:annotation>
      <xs:documentation>
        Backups scheduled for this forest.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="lower-bound" abstract="false" nillable="false" type="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The lower bound of the range on the forest.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="upper-bound" abstract="false" nillable="false" type="range-boundary">
    <xs:annotation>
      <xs:documentation>
        The upper bound of the range on the forest.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="range" abstract="false" nillable="false" type="range">
    <xs:annotation>
      <xs:documentation>
        Range configuration for the range assignment policy.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>
        Availability of the forest data.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="http://marklogic.com/xdmp/assignments" xmlns:xhtml="http://www.w3.org/1999/xhtml">true</admin:optional></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="availability">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="licensee" abstract="false" nillable="false" type="licensee">
    <xs:annotation>
      <xs:documentation>
        The licensee.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="license-key" abstract="false" nillable="false" type="license-key">
    <xs:annotation>
      <xs:documentation>
        The license key for this host.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="queue-size">
    <xs:annotation>
      <xs:documentation>
        The maximum number of tasks allowed.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="queue-size">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="password" abstract="false" nillable="false" type="password">
    <xs:annotation>
      <xs:documentation>
        The password to use.
      </xs:documentation>
      <xs:appinfo><admin:optional xmlns="xdmp:http" xmlns:xdmp="http://marklogic.com/xdmp">true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="zone" abstract="false" nillable="false" type="zone">
    <xs:annotation>
      <xs:documentation>
        Zone the host belongs to.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="bind-port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol server socket bind internet port number.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="port">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-bind-port">
    <xs:annotation>
      <xs:documentation>
        The distributed protocol foreign server socket bind internet port number.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="port">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="host-name" abstract="false" nillable="false" type="host-name">
    <xs:annotation>
      <xs:documentation>
        The internet host name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-id">
    <xs:annotation>
      <xs:documentation>
        The unique ID of the database.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:unsignedLong">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="host-mode">
    <xs:annotation>
      <xs:documentation>
        The mode of this host
      </xs:documentation>
      <xs:appinfo><manage:health assert="not(exists(.))" state="critical" code="HEALTH-MISSING-HOST-MODE" xmlns="http://marklogic.com/xdmp/status/host" xmlns:xa="http://marklogic.com/xdmp/xa" xmlns:xhtml="http://www.w3.org/1999/xhtml"/><manage:health equals="'maintenance'" state="maintenance" code="HEALTH-MAINTENANCE-HOST-MODE" xmlns="http://marklogic.com/xdmp/status/host" xmlns:xa="http://marklogic.com/xdmp/xa" xmlns:xhtml="http://www.w3.org/1999/xhtml"/></xs:appinfo>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="host-mode-type">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="host-mode-description" abstract="false" nillable="false" type="host-mode-description-type">
    <xs:annotation>
      <xs:documentation>
        The description for this host mode
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="assignment-policy" abstract="false" nillable="false" type="assignment-policy">
    <xs:annotation>
      <xs:documentation>
        The policy to use for assignment and rebalancing.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="rebalancer-throttle">
    <xs:annotation>
      <xs:documentation>
        Larger numbers mean work harder at rebalancing.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="rebalancer-throttle">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="database-name" abstract="false" nillable="false" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="connect-forests-by-name">
    <xs:annotation>
      <xs:documentation>
        Automatically connect local forests with foreign forests of the same name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="lag-limit">
    <xs:annotation>
      <xs:documentation>
        The maximum transaction journal lag to the foreign database.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="lag-limit">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="replication-enabled">
    <xs:annotation>
      <xs:documentation>
         Whether replication is enabled for this replica.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:boolean">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="foreign-cluster-name" abstract="false" nillable="false" type="cluster-name">
    <xs:annotation>
      <xs:documentation>
        The name of the foreign cluster.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="partition-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the partition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="availability" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="updates-allowed" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="query-exclusion" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="partition-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of database partitions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item-summary">
    <xs:annotation>
      <xs:documentation>A brief summary of the partition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="partition-number" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remove-alert-triggers">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="add-alert-triggers">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="error-type" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-code" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="error-message" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="current-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="elapsed-time" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="start-min" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="view-error" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restore-cancel-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="restore-status-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-map">
    <xs:sequence>
      <xs:element ref="current" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="forest-maps">
    <xs:sequence>
      <xs:element ref="forest-map" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forests">
    <xs:sequence>
      <xs:element ref="forest" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restore-validate-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-maps" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-dir" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="restore-to-time" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="include-replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archiving" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archive-path" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental-dir" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="restore-database-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-maps" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-dir" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="incremental" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental-dir" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archiving" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archive-path" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="include-replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="restore-to-time" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="backup-purge-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-dir" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="keep-num-backups" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="backup-cancel-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="backup-status-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="job-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host-name" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="backup-validate-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-dir" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="incremental" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental-dir" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="include-replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archiving" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archive-path" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lag-limit" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="backup-database-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forests" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="backup-dir" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-kek-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="incremental-dir" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archiving" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="journal-archive-path" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="include-replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lag-limit" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="reindex-database-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="merge-database-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="clear-database-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remove-foreign-master-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-master">
    <xs:all>
      <xs:element ref="foreign-cluster-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-database-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="connect-forests-by-name" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="set-foreign-master-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-master" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="foreign-database-names">
    <xs:sequence>
      <xs:element ref="foreign-database-name" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="remove-foreign-replicas-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-cluster-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-database-names" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foreign-replica">
    <xs:all>
      <xs:element ref="foreign-cluster-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-database-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="connect-forests-by-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lag-limit" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="enabled" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="queue-size" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="foreign-replicas">
    <xs:sequence>
      <xs:element ref="foreign-replica" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="add-foreign-replicas-operation">
    <xs:all>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="foreign-replicas" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="database-operations">
    <xs:annotation>
      <xs:documentation>Database operations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="add-foreign-replicas-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="remove-foreign-replicas-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="set-foreign-master-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="remove-foreign-master-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="clear-database-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="merge-database-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="reindex-database-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-database-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-validate-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-status-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-cancel-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="backup-purge-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="restore-database-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="restore-validate-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="restore-status-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="restore-cancel-operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="load-default-cpf-pipelines-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pipeline-operations">
    <xs:annotation>
      <xs:documentation>Pipeline operations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="load-default-cpf-pipelines-operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="item-summary" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="list-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-item" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="forest-migrate">
    <xs:annotation>
      <xs:documentation>Tiered storage forest migrate operation description.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-combine">
    <xs:annotation>
      <xs:documentation>Tiered storage forest combine operation description.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forests" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="database-replication">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="forest-create">
    <xs:annotation>
      <xs:documentation>Forest creation definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="forest-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="database" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="availability" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rebalancer-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="failover-hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="failover-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-backups" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="database-replication" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="updates-allowed" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="enabled" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="partition-forest">
    <xs:sequence>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forest-replicas" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="partition-default">
    <xs:annotation>
      <xs:documentation>The summary for a partition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="assignment-policy" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="range" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="partition-forest" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="super-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of super-databases.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifier" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="qualifiers" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="idref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="nameref" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="uriref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="typeref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="roleref" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation-count" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation-group" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="database-rebalancer-properties">
    <xs:annotation>
      <xs:documentation>Database rebalancer properties.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="rebalancer-enable" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="rebalancer-throttle" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="sub-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of sub-databases.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="list-items" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sub-database">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="database-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="kind" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="forest-replica">
    <xs:annotation>
      <xs:documentation>Replica forest definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="replica-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="host" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
    </xs:all>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="forest-replicas">
    <xs:annotation>
      <xs:documentation>Replica forest definitions.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="forest-replica" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="failover-hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts for shared disk failover.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="failover-host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="options">
    <xs:annotation>
      <xs:documentation>A list of options.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="host" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="error">
    <xs:sequence>
      <xs:element ref="status-code" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="status" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message-code" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="process-status">
    <xs:sequence>
      <xs:element ref="link" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shutdown">
    <xs:annotation>
      <xs:documentation>Response on server shutdown.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="last-startup" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restart">
    <xs:annotation>
      <xs:documentation>Response on server restart.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="last-startup" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="link" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="message" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="link">
    <xs:annotation>
      <xs:documentation>Link.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="kindref" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="uriref" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="instance-admin">
    <xs:annotation>
      <xs:documentation>Instance administration configuration.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="admin-password" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="admin-username" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="realm" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="wallet-password" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="init">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="licensee" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="license-key" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="view-type" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="view-uri" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="related-view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="super-database">
    <xs:annotation>
      <xs:documentation>Super-database definition.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="database-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-failover-forest">
    <xs:annotation>
      <xs:documentation>List of failover forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-forest">
    <xs:annotation>
      <xs:documentation>List of forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="forest-name" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-delete">
    <xs:annotation>
      <xs:documentation>Detailed output describing failed prerequisites for removing a host from the cluster.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="description" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="is-bootstrap-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-forest" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-failover-forest" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="scheduled-task-count" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="security-database-upgrade-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Security database upgrade local cluster operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="commit-upgrade-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Commit upgrade local cluster operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shutdown-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Shutdown local cluster operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restart-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Restart local cluster operation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shutdown-group-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restart-group-operation">
    <xs:sequence>
      <xs:element ref="operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="group-operations">
    <xs:annotation>
      <xs:documentation>Group operations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="restart-group-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="shutdown-group-operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="super-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a super-database.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="sub-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a sub-database.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="meta" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="relations" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="related-views" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transfer">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="destination-database" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="resize">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forests-per-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="migrate">
    <xs:all>
      <xs:element ref="operation" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="partition">
    <xs:annotation>
      <xs:documentation>Partition definition.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="partition-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="partition-number" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="upper-bound" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="lower-bound" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="forests-per-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="hosts" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="replicas" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="large-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fast-data-directory" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="get-template-certificate-authority-operation">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="generate-certificate-request-operation">
    <xs:sequence>
      <xs:element ref="common-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dns-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ip-addr" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="need-certificate-operation">
    <xs:sequence>
      <xs:element ref="common-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dns-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ip-addr" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate">
    <xs:sequence>
      <xs:element ref="cert" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="pkey" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="array" type="xs:boolean" use="optional"/>
  </xs:complexType>
  <xs:complexType name="certificates">
    <xs:sequence>
      <xs:element ref="certificate" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insert-host-certificates-operation">
    <xs:sequence>
      <xs:element ref="certificates" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="get-pending-certificate-request-operation">
    <xs:sequence>
      <xs:element ref="common-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dns-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ip-addr" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="get-certificates-for-template-operation">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="get-certificate-operation">
    <xs:sequence>
      <xs:element ref="common-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dns-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ip-addr" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generate-temporary-certificate-operation">
    <xs:sequence>
      <xs:element ref="valid-for" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="common-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="dns-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ip-addr" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="if-necessary" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generate-template-certificate-authority-operation">
    <xs:sequence>
      <xs:element ref="valid-for" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="certificate-template-operations">
    <xs:annotation>
      <xs:documentation>Certificate template operations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="generate-template-certificate-authority-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="generate-temporary-certificate-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="get-certificate-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="get-certificates-for-template-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="get-pending-certificate-request-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="insert-host-certificates-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="need-certificate-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="generate-certificate-request-operation" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="get-template-certificate-authority-operation" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="host-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the host.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="host-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="group" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="bind-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="foreign-bind-port" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="zone" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="bootstrap-host" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-mode" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="host-mode-description" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="bootstrap-host" type="xs:boolean"/>
  <xs:element name="valid-for" type="xs:unsignedInt"/>
  <xs:element name="common-name" type="xs:string"/>
  <xs:element name="dns-name" type="xs:string"/>
  <xs:element name="ip-addr" type="xs:string"/>
  <xs:element name="if-necessary" type="xs:boolean"/>
  <xs:element name="cert" type="xs:string"/>
  <xs:element name="pkey" type="xs:string"/>
  <xs:element name="forests-per-host" type="xs:positiveInteger">
    <xs:annotation>
      <xs:documentation>Number of forests to distribute per host.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-number" type="xs:unsignedInt"/>
  <xs:element name="replicas" type="xs:int">
    <xs:annotation>
      <xs:documentation>Number of forests to allocate to each host for partition creation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="destination-database" type="xs:string">
    <xs:annotation>
      <xs:documentation>Database (name or id) to transfer the partition to.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="operation" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <xs:element name="is-bootstrap-host" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>Boolean indicating that the host is configured as a bootstrap host for cluster coupling. Bootstrap hosts cannot be dropped from the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="scheduled-task-count" type="xs:integer">
    <xs:annotation>
      <xs:documentation>Count of scheduled tasks running on this host, which must be removed before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="admin-password" type="xs:string">
    <xs:annotation>
      <xs:documentation>Password for admin user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="admin-username" type="xs:string">
    <xs:annotation>
      <xs:documentation>Username for admin user.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="realm" type="xs:string">
    <xs:annotation>
      <xs:documentation>Realm.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="wallet-password" type="xs:string">
    <xs:annotation>
      <xs:documentation>Password for PKCS#11 wallet.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="last-startup" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>Timestamp of host's last restart.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="kindref" type="xs:string"/>
  <xs:element name="message" type="xs:string">
    <xs:annotation>
      <xs:documentation>Descriptive message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status-code" type="xs:int">
    <xs:annotation>
      <xs:documentation>HTTP status code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="status" type="xs:string">
    <xs:annotation>
      <xs:documentation>HTTP status message.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>MarkLogic error message code.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="group" type="xs:string">
    <xs:annotation>
      <xs:documentation>A group name or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host name or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host forset or id.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="option" type="xs:string">
    <xs:annotation>
      <xs:documentation>An option.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-host" type="xs:string">
    <xs:annotation>
      <xs:documentation>A host name or id for shared disk failover.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="replica-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>Name of the replica forest.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="kind" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of sub-database (active, archive).</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="uriref" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path for a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="typeref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of a resource or list of resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="roleref" type="xs:string">
    <xs:annotation>
      <xs:documentation>A role that distinguishes the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-count">
    <xs:annotation>
      <xs:documentation>The number of related resources.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="idref" type="xs:unsignedLong">
    <xs:annotation>
      <xs:documentation>The numeric identifier for the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="nameref" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-count">
    <xs:annotation>
      <xs:documentation>The number of items of this resource type.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:int">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="backup-dir" type="xs:string"/>
  <xs:element name="backup-kek-id" type="xs:string"/>
  <xs:element name="incremental" type="xs:boolean"/>
  <xs:element name="incremental-dir" type="xs:string"/>
  <xs:element name="journal-archiving" type="xs:boolean"/>
  <xs:element name="journal-archive-path" type="xs:string"/>
  <xs:element name="include-replicas" type="xs:boolean"/>
  <xs:element name="job-id" type="xs:unsignedLong"/>
  <xs:element name="keep-num-backups" type="xs:unsignedInt"/>
  <xs:element name="current" type="xs:NMTOKEN"/>
  <xs:element name="backup" type="xs:string"/>
  <xs:element name="restore-to-time" type="xs:dateTime"/>
  <xs:element name="uri" type="xs:anyURI">
    <xs:annotation>
      <xs:documentation>The path to the view.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="current-time" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for when the view was generated.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="elapsed-time">
    <xs:annotation>
      <xs:documentation>The time required to construct the view.  The
      elapsed time indicates the relative cost of generating the view.  Consider
      the cost when determining how frequently to request a view. </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:simpleContent>
	<xs:extension base="xs:decimal">
	  <xs:attribute name="units" type="xs:string" use="optional"/>
	</xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="start-min" type="xs:dateTime">
    <xs:annotation>
      <xs:documentation>The timestamp for filtering out more recent
      requests or transactions.  
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The kind of error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the error.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error identifier.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error-message" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error text.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-count" type="xs:int"/>
  <xs:element name="query-exclusion" type="xs:boolean"/>
  <xs:element name="id" type="database-id">
    <xs:annotation>
      <xs:documentation>
        The database id.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="database" type="database-name"/>
  <xs:element name="foreign-database-name" type="database-name">
    <xs:annotation>
      <xs:documentation>
        The database name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-properties" type="partition-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-list" type="partition-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of database partitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="item-summary" type="item-summary">
    <xs:annotation>
      <xs:documentation>A brief summary of the partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="remove-alert-triggers" type="remove-alert-triggers"/>
  <xs:element name="add-alert-triggers" type="add-alert-triggers"/>
  <xs:element name="view-error" type="view-error">
    <xs:annotation>
      <xs:documentation>An error limiting the data in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="meta" type="meta">
    <xs:annotation>
      <xs:documentation>Properties of the view rather than the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="restore-cancel-operation" type="restore-cancel-operation"/>
  <xs:element name="restore-status-operation" type="restore-status-operation"/>
  <xs:element name="forest-map" type="forest-map"/>
  <xs:element name="forest-maps" type="forest-maps"/>
  <xs:element name="forests" type="forests"/>
  <xs:element name="restore-validate-operation" type="restore-validate-operation"/>
  <xs:element name="restore-database-operation" type="restore-database-operation"/>
  <xs:element name="backup-purge-operation" type="backup-purge-operation"/>
  <xs:element name="backup-cancel-operation" type="backup-cancel-operation"/>
  <xs:element name="backup-status-operation" type="backup-status-operation"/>
  <xs:element name="backup-validate-operation" type="backup-validate-operation"/>
  <xs:element name="backup-database-operation" type="backup-database-operation"/>
  <xs:element name="reindex-database-operation" type="reindex-database-operation"/>
  <xs:element name="merge-database-operation" type="merge-database-operation"/>
  <xs:element name="clear-database-operation" type="clear-database-operation"/>
  <xs:element name="remove-foreign-master-operation" type="remove-foreign-master-operation"/>
  <xs:element name="foreign-master" type="foreign-master"/>
  <xs:element name="set-foreign-master-operation" type="set-foreign-master-operation"/>
  <xs:element name="foreign-database-names" type="foreign-database-names"/>
  <xs:element name="remove-foreign-replicas-operation" type="remove-foreign-replicas-operation"/>
  <xs:element name="foreign-replica" type="foreign-replica"/>
  <xs:element name="foreign-replicas" type="foreign-replicas"/>
  <xs:element name="add-foreign-replicas-operation" type="add-foreign-replicas-operation"/>
  <xs:element name="database-operations" type="database-operations">
    <xs:annotation>
      <xs:documentation>Database operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="load-default-cpf-pipelines-operation" type="load-default-cpf-pipelines-operation"/>
  <xs:element name="pipeline-operations" type="pipeline-operations">
    <xs:annotation>
      <xs:documentation>Pipeline operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-item" type="list-item">
    <xs:annotation>
      <xs:documentation>An item of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="list-items" type="list-items">
    <xs:annotation>
      <xs:documentation>Items of this resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-migrate" type="forest-migrate">
    <xs:annotation>
      <xs:documentation>Tiered storage forest migrate operation description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-combine" type="forest-combine">
    <xs:annotation>
      <xs:documentation>Tiered storage forest combine operation description.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-replication">
    <xs:complexType/>
  </xs:element>
  <xs:element name="forest-create" type="forest-create">
    <xs:annotation>
      <xs:documentation>Forest creation definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="partition-forest" type="partition-forest"/>
  <xs:element name="partition-default" type="partition-default">
    <xs:annotation>
      <xs:documentation>The summary for a partition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database-list" type="super-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of super-databases.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifier" type="qualifier">
    <xs:annotation>
      <xs:documentation>Another resource that qualifies the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="qualifiers" type="qualifiers">
    <xs:annotation>
      <xs:documentation>A list of associated resources that distinguish the resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relation-group" type="relation-group">
    <xs:annotation>
      <xs:documentation>Related resources with the same type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-rebalancer-properties" type="database-rebalancer-properties">
    <xs:annotation>
      <xs:documentation>Database rebalancer properties.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database-list" type="sub-database-list">
    <xs:annotation>
      <xs:documentation>The summary for a list of sub-databases.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database" type="sub-database">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-replica" type="forest-replica">
    <xs:annotation>
      <xs:documentation>Replica forest definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="forest-replicas" type="forest-replicas">
    <xs:annotation>
      <xs:documentation>Replica forest definitions.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="failover-hosts" type="failover-hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts for shared disk failover.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="options" type="options">
    <xs:annotation>
      <xs:documentation>A list of options.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="hosts" type="hosts">
    <xs:annotation>
      <xs:documentation>A list of hosts.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="error" type="error"/>
  <xs:element name="process-status" type="process-status"/>
  <xs:element name="shutdown" type="shutdown">
    <xs:annotation>
      <xs:documentation>Response on server shutdown.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="restart" type="restart">
    <xs:annotation>
      <xs:documentation>Response on server restart.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="link" type="link">
    <xs:annotation>
      <xs:documentation>Link.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="instance-admin" type="instance-admin">
    <xs:annotation>
      <xs:documentation>Instance administration configuration.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="init" type="init">
    <xs:annotation>
      <xs:documentation>Sub-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-view" type="related-view">
    <xs:annotation>
      <xs:documentation>A broader or narrower view on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="related-views" type="related-views">
    <xs:annotation>
      <xs:documentation>A list of broader or narrower views on the resource or resource type.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database" type="super-database">
    <xs:annotation>
      <xs:documentation>Super-database definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-failover-forest" type="host-failover-forest">
    <xs:annotation>
      <xs:documentation>List of failover forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-forest" type="host-forest">
    <xs:annotation>
      <xs:documentation>List of forests on this host, which must be moved before the host can be dropped.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-delete" type="host-delete">
    <xs:annotation>
      <xs:documentation>Detailed output describing failed prerequisites for removing a host from the cluster.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="security-database-upgrade-local-cluster-operation" type="security-database-upgrade-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Security database upgrade local cluster operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="commit-upgrade-local-cluster-operation" type="commit-upgrade-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Commit upgrade local cluster operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="shutdown-local-cluster-operation" type="shutdown-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Shutdown local cluster operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="restart-local-cluster-operation" type="restart-local-cluster-operation">
    <xs:annotation>
      <xs:documentation>Restart local cluster operation.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="shutdown-group-operation" type="shutdown-group-operation"/>
  <xs:element name="restart-group-operation" type="restart-group-operation"/>
  <xs:element name="group-operations" type="group-operations">
    <xs:annotation>
      <xs:documentation>Group operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="super-database-default" type="super-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a super-database.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sub-database-default" type="sub-database-default">
    <xs:annotation>
      <xs:documentation>The summary for a sub-database.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="transfer" type="transfer"/>
  <xs:element name="resize" type="resize"/>
  <xs:element name="migrate" type="migrate"/>
  <xs:element name="partition" type="partition">
    <xs:annotation>
      <xs:documentation>Partition definition.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="get-template-certificate-authority-operation">
    <xs:complexType/>
  </xs:element>
  <xs:element name="generate-certificate-request-operation" type="generate-certificate-request-operation"/>
  <xs:element name="need-certificate-operation" type="need-certificate-operation"/>
  <xs:element name="certificate" type="certificate"/>
  <xs:element name="certificates" type="certificates"/>
  <xs:element name="insert-host-certificates-operation" type="insert-host-certificates-operation"/>
  <xs:element name="get-pending-certificate-request-operation" type="get-pending-certificate-request-operation"/>
  <xs:element name="get-certificates-for-template-operation">
    <xs:complexType/>
  </xs:element>
  <xs:element name="get-certificate-operation" type="get-certificate-operation"/>
  <xs:element name="generate-temporary-certificate-operation" type="generate-temporary-certificate-operation"/>
  <xs:element name="generate-template-certificate-authority-operation" type="generate-template-certificate-authority-operation"/>
  <xs:element name="certificate-template-operations" type="certificate-template-operations">
    <xs:annotation>
      <xs:documentation>Certificate template operations.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-properties" type="host-properties">
    <xs:annotation>
      <xs:documentation>Editable properties of the host.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>