xml/manage-trigger-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/trigger/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/trigger/properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        A trigger description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="trigger-name">
    <xs:annotation>
      <xs:documentation>
        A trigger name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="trigger-id">
    <xs:annotation>
      <xs:documentation>
        A trigger identifier.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="enabled">
    <xs:annotation>
      <xs:documentation>
        An indication of trigger being enabled.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="recursive">
    <xs:annotation>
      <xs:documentation>
        An indication of trigger being recursive.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="localname">
    <xs:annotation>
      <xs:documentation>
        A localname.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="update-kind">
    <xs:annotation>
      <xs:documentation>
        A kind of update.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="create"/>
      <xs:enumeration value="delete"/>
      <xs:enumeration value="modify"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="uri">
    <xs:annotation>
      <xs:documentation>
        A URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="depth">
    <xs:annotation>
      <xs:documentation>
        A depth.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="0"/>
      <xs:enumeration value="1"/>
      <xs:enumeration value="infinity"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="database-id">
    <xs:annotation>
      <xs:documentation>
        A database ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="root">
    <xs:annotation>
      <xs:documentation>
        A root directory.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="path">
    <xs:annotation>
      <xs:documentation>
        A module relative path.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="when">
    <xs:annotation>
      <xs:documentation>
        An event timing
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="pre-commit"/>
      <xs:enumeration value="post-commit"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="task-priority">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="higher"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="property-name" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The QName of the specific property.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="namespace-uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="localname" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="property-content" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A single document property.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="property-name" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="any-property-content" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Any document property content.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1"/>
  </xs:complexType>
  <xs:complexType name="any-custom-property-content" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Any custom property content.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1"/>
  </xs:complexType>
  <xs:complexType name="document-content" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A document content.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="update-kind" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="collection-scope" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A set of documents that are in a specified collection.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="directory-scope" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A set of documents that are descendants of a directory.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="depth" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="document-scope" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A single document.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="uri" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="database-online-event" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A database coming online event.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element ref="user" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="user-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="user-name" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="data-event" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A description of triggering events.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:choice minOccurs="1" maxOccurs="1">
	<xs:element ref="document-scope" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="collection-scope" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="directory-scope" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:choice minOccurs="1" maxOccurs="1">
	<xs:element ref="document-content" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="any-property-content" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="any-custom-property-content" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="property-content" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
      <xs:element ref="when" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="trigger-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A trigger description.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="id" minOccurs="0"/>
      <xs:element ref="name" minOccurs="0"/>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element ref="event" minOccurs="0"/>
      <xs:element ref="module" minOccurs="0"/>
      <xs:element ref="module-db" minOccurs="0"/>
      <xs:element ref="module-root" minOccurs="0"/>
      <xs:element ref="enabled" minOccurs="0"/>
      <xs:element ref="recursive" minOccurs="0"/>
      <xs:element ref="task-priority" minOccurs="0"/>
      <xs:element ref="permissions" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="event" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A description of event.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
	<xs:element ref="data-event" minOccurs="1" maxOccurs="1"/>
	<xs:element ref="database-online-event" minOccurs="1" maxOccurs="1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="event" type="event" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The description of event.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A permission.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="role-name"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="permissions" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of permissions
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="module" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The module path
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="capability" type="capability" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permission" type="permission" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permissions" type="permissions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-name" type="role-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Role name (unique)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="module-db" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The module database
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="module-root" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The module root
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="user-id" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The user unique ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="user-name" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The user unique name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="description" type="description" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The trigger description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="name" type="trigger-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The trigger name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="enabled" type="enabled" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether the trigger is enabled or not.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="recursive" type="recursive" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether the trigger is recursive or not.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="trigger-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The trigger ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="namespace-uri" type="namespace-uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The namespace URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="localname" type="localname" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The localname.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="property-name" type="property-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The QName of a property.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="update-kind" type="update-kind" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The kind of update.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="property-content" type="property-content" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The specific document property.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="any-property-content" type="any-property-content" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The document properties.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="any-custom-property-content" type="any-custom-property-content" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The custom document properties.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="document-content" type="document-content" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The document content.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="collection-scope" type="collection-scope" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The scope of all documents in a collection for a trigger.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="directory-scope" type="directory-scope" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The scope of descendant documents of a directory for a trigger.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="document-scope" type="document-scope" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The scope of a single document for a trigger.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="uri" type="uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="depth" type="depth" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The depth.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="user" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The user unique ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="database" type="database-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The database id.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="root" type="root" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The module invocation root directory.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="path" type="path" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The module to invoke on a triggered event.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="when" type="when" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The timing of the event.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="database-online-event" type="database-online-event" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The description of a database coming online.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="data-event" type="data-event" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The description of triggering events.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="task-priority" type="task-priority" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The post-commit task priority.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="trigger-properties" type="trigger-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The trigger description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>