xml/manage-amp-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/amp/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/amp/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="document-uri">
    <xs:annotation>
      <xs:documentation>
        A document URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="local-name">
    <xs:annotation>
      <xs:documentation>
        A function local-name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="namespace">
    <xs:annotation>
      <xs:documentation>
        A namespace.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:complexType name="amp-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	The amplification of additional roles.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="local-name" minOccurs="0"/>
      <xs:element ref="namespace" minOccurs="0"/>
      <xs:element ref="document-uri" minOccurs="0"/>
      <xs:element ref="modules-database" minOccurs="0"/>
      <xs:element ref="roles" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="role-ids" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of role-ids
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="role" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="document-uri" type="document-uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	A document's URI.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="local-name" type="local-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	A function local-name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="namespace" type="namespace" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	A namespace.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="amp-properties" type="amp-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A role amplification.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="role" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A role identifier (unique key).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="roles" type="role-ids" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The roles assigned.
        <admin:user>The roles assigned to the user.</admin:user></xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="modules-database" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A database the module is found in.
      </xs:documentation>
      <xs:appinfo><admin:optional>true</admin:optional></xs:appinfo>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>