xml/manage-cluster-health.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/cluster/health" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/cluster/health">
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
        An ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="resource-id">
    <xs:annotation>
      <xs:documentation>
        A resource ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="state">
    <xs:annotation>
      <xs:documentation>
        Health category.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="critical"/>
      <xs:enumeration value="maintenance"/>
      <xs:enumeration value="at-risk"/>
      <xs:enumeration value="offline"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="resource-type">
    <xs:annotation>
      <xs:documentation>
        The resource type for this report.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="cluster"/>
      <xs:enumeration value="foreign-cluster"/>
      <xs:enumeration value="host"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="server"/>
      <xs:enumeration value="database"/>
      <xs:enumeration value="forest"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="related-id" type="id">
    <xs:annotation>
      <xs:documentation>
        An ID of a related health message.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="related-ids">
    <xs:annotation>
      <xs:documentation>
        A list of related health message IDs.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="related-id"/>
    </xs:choice>
  </xs:complexType>
  <xs:element name="related-ids" type="related-ids">
    <xs:annotation>
      <xs:documentation>
        A list of related health message IDs.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="cluster-health-report">
    <xs:annotation>
      <xs:documentation>
        A health report.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="state" minOccurs="1"/>
      <xs:element ref="resource-type" minOccurs="1"/>
      <xs:element ref="resource-id" minOccurs="1"/>
      <xs:element ref="resource-name" minOccurs="1"/>
      <xs:element ref="code" minOccurs="1"/>
      <xs:element ref="message" minOccurs="1"/>
      <xs:element ref="relations" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="cluster-health-reports">
    <xs:annotation>
      <xs:documentation>
        A list of health reports.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="cluster-health-report"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cluster-health-reports" type="cluster-health-reports">
    <xs:annotation>
      <xs:documentation>
        A list of health reports.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-health-report" type="cluster-health-report">
    <xs:annotation>
      <xs:documentation>
        A health report.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="cluster-health">
    <xs:annotation>
      <xs:documentation>
        A set of cluster health reports.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="cluster-id" minOccurs="1"/>
      <xs:element ref="host-id" minOccurs="1"/>
      <xs:element ref="timestamp" minOccurs="1"/>
      <xs:element ref="cluster-health-reports" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="cluster-health" type="cluster-health">
    <xs:annotation>
      <xs:documentation>
        The cluster health report.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="cluster-id" type="id">
    <xs:annotation>
      <xs:documentation>
        The cluster ID.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host-id" type="id">
    <xs:annotation>
      <xs:documentation>
        The host ID.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="id" type="id">
    <xs:annotation>
      <xs:documentation>
        The health message ID.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="state" type="state">
    <xs:annotation>
      <xs:documentation>
        The health state.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="resource-type" type="resource-type">
    <xs:annotation>
      <xs:documentation>
        The resource type.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="resource-id" type="resource-id">
    <xs:annotation>
      <xs:documentation>
        The resource ID.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="resource-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The resource name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="code" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The health code.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="timestamp" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The timestamp.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="message" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The alert message.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="relation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="relation" type="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="relations" type="relations">
    <xs:annotation>
      <xs:documentation>Relationships to resources.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="relation">
    <xs:annotation>
      <xs:documentation>A specific related resource.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="dependent" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="roleref" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>