xml/manage-flexrep-pull-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/flexrep-pull/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://marklogic.com/manage/flexrep-pull/properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cpf="http://marklogic.com/cpf" xmlns:dom="http://marklogic.com/cpf/domains" xmlns:doc="xdmp:document-load" xmlns:prop="http://marklogic.com/xdmp/property" xmlns:error="http://marklogic.com/xdmp/error" xmlns:http="xdmp:http" xmlns:eval="xdmp:eval">
  <xs:import namespace="http://marklogic.com/cpf" schemaLocation="cpf.xsd"/>
  <xs:import namespace="http://marklogic.com/cpf/domains" schemaLocation="domains.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/error" schemaLocation="error.xsd"/>
  <xs:import namespace="xdmp:document-load" schemaLocation="document-load.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/property" schemaLocation="property.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/security" schemaLocation="security.xsd"/>
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="xdmp:eval" schemaLocation="eval.xsd"/>
  <xs:simpleType name="domain-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="target-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="credential-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="enabled">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="pull-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="pull-name">
    <xs:annotation>
      <xs:documentation>
        A pull name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="pull-url">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:complexType name="http-options" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="method" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="username" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-cert" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-key" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-pass-phrase" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="credential-id" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="flexrep-pull-properties" abstract="false" mixed="false">
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="pull-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="domain-id" minOccurs="0" maxOccurs="1">
	<xs:annotation>
	  <xs:documentation>
            The domain id on the remote system.
          </xs:documentation>
	</xs:annotation>
      </xs:element>
      <xs:element ref="target-id" minOccurs="0" maxOccurs="1">
	<xs:annotation>
	  <xs:documentation>
            The target id on the remote system.
          </xs:documentation>
	</xs:annotation>
      </xs:element>
      <xs:element ref="enabled" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="urls" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="http-options" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="pull-urls" abstract="false" mixed="false">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="domain-id" type="domain-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The domain id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="target-id" type="target-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The target id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credential-id" type="credential-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The credential id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="enabled" type="enabled" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not this target is enabled. If the target is disabled, no
        attempt will be made to push replications.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="auth-method">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="basic"/>
      <xs:enumeration value="digest"/>
      <xs:enumeration value="aws"/>
      <xs:enumeration value="aws4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="method" type="auth-method">
    <xs:annotation>
      <xs:documentation>
        The method to use.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="http-options" type="http-options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP options to use when connecting to the
        replication application server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pull-id" type="pull-id" abstract="false" nillable="false">
    <xs:annotation/>
  </xs:element>
  <xs:element name="pull-name" type="pull-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A name for replication target.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="flexrep-pull-properties" type="flexrep-pull-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Configuration information for polling a master database to retrieve
        replication updates.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="username" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="password" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-cert" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-key" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-pass-phrase" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="urls" type="pull-urls" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        One or more URLs for master application servers.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="url" type="pull-url" abstract="false" nillable="false"/>
</xs:schema>