xml/manage-external-security-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/external-security/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/external-security/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="description">
    <xs:annotation>
      <xs:documentation>
        An object's description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
        An object's unique id.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="external-security-name">
    <xs:annotation>
      <xs:documentation/>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="authentication">
    <xs:annotation>
      <xs:documentation>
        Authentication
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="certificate"/>
      <xs:enumeration value="kerberos"/>
      <xs:enumeration value="ldap"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeout">
    <xs:annotation>
      <xs:documentation>
        An integer number of seconds, min 0, max 4294967295.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedInt">
      <xs:minInclusive value="0" fixed="false"/>
      <xs:maxInclusive value="4294967295" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="authorization">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="internal"/>
      <xs:enumeration value="ldap"/>
      <xs:enumeration value="saml"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ldap-bind-method">
    <xs:annotation>
      <xs:documentation>
        ldap bind method.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="MD5"/>
      <xs:enumeration value="simple"/>
      <xs:enumeration value="external"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ldap-server-uri">
    <xs:annotation>
      <xs:documentation>
        ldap server uri.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-base">
    <xs:annotation>
      <xs:documentation>
        ldap base.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap attribute.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-default-user">
    <xs:annotation>
      <xs:documentation>
        ldap default user.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-password">
    <xs:annotation>
      <xs:documentation>
        ldap password.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-memberof-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap memberof attribute.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ldap-member-attribute">
    <xs:annotation>
      <xs:documentation>
        ldap member attribute.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="boolean">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="saml-entity-id">
    <xs:annotation>
      <xs:documentation>
        SAML entity id.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="saml-attribute-name">
    <xs:annotation>
      <xs:documentation>
        SAML attribute name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="saml-privilege-attribute-name">
    <xs:annotation>
      <xs:documentation>
        SAML privilege attribute name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="ssl-certificate-authority-id">
    <xs:annotation>
      <xs:documentation>
        An SSL certificate authority ID.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="pem">
    <xs:annotation>
      <xs:documentation>
        PEM encoded data.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="ldap-server" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        LDAP server configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element ref="ldap-server-uri" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-base" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-attribute" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-default-user" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-password" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-bind-method" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="ldap-memberof-attribute" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-member-attribute" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-start-tls" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-certificate" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ldap-private-key" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="saml-attribute-names" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A list of SAML attribute names.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="saml-attribute-name" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="credential-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:complexType name="saml-server" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        SAML server configuration.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="saml-entity-id" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="saml-attribute-names" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="saml-privilege-attribute-name" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="http-options" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="http-options" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="method" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="username" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="password" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-cert" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-key" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="client-pass-phrase" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="credential-id" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="credential-id" type="credential-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The credential id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="auth-method">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="basic"/>
      <xs:enumeration value="digest"/>
      <xs:enumeration value="aws"/>
      <xs:enumeration value="aws4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="method" type="auth-method">
    <xs:annotation>
      <xs:documentation>
        The method to use.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="http-options" type="http-options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP options to use when connecting to the
        replication application server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="username" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="password" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-cert" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-key" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-pass-phrase" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ssl-client-certificate-authorities" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        The certificate authorities that may sign a client certificate.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all>
      <xs:element ref="ssl-client-certificate-authority" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="external-security-properties" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        External security object
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="0" maxOccurs="1">
      <xs:element ref="external-security-id" minOccurs="0"/>
      <xs:element ref="external-security-name" minOccurs="0"/>
      <xs:element ref="description" minOccurs="0"/>
      <xs:element ref="authentication" minOccurs="0"/>
      <xs:element ref="cache-timeout" minOccurs="0"/>
      <xs:element ref="authorization" minOccurs="0"/>
      <!-- These are the old style, pre ML9. As of ML9, they're pushed down
           into the ldap-sever subelement -->
      <xs:element ref="ldap-server-uri" minOccurs="0"/>
      <xs:element ref="ldap-base" minOccurs="0"/>
      <xs:element ref="ldap-attribute" minOccurs="0"/>
      <xs:element ref="ldap-default-user" minOccurs="0"/>
      <xs:element ref="ldap-password" minOccurs="0"/>
      <xs:element ref="ldap-bind-method" minOccurs="0"/>
      <xs:element ref="ldap-memberof-attribute" minOccurs="0"/>
      <xs:element ref="ldap-member-attribute" minOccurs="0"/>
      <xs:element ref="ldap-start-tls" minOccurs="0"/>
      <xs:element ref="ldap-certificate" minOccurs="0"/>
      <xs:element ref="ldap-private-key" minOccurs="0"/>
      <!-- These are new in ML9 -->
      <xs:element ref="ldap-server" minOccurs="0"/>
      <xs:element ref="saml-server" minOccurs="0"/>
      <xs:element ref="ssl-client-certificate-authorities" minOccurs="0"/>
      <xs:element ref="ssl-require-client-certificate" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="description" type="description" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	An object's description.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-security-id" type="id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An external security id (unique key).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-security-name" type="external-security-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        External security name (unique)
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="authentication" type="authentication" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Authentication
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="cache-timeout" type="timeout" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The login cache timeout, in seconds.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="authorization" type="authorization" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An authorization scheme.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-bind-method" type="ldap-bind-method" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        ldap bind method.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-server-uri" type="ldap-server-uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        URI of the ldap server. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-base" type="ldap-base" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        starting point for search. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-attribute" type="ldap-attribute" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        ldap attribute for user lookup. Required if authentication or authorization is ldap.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-default-user" type="ldap-default-user" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        ldap user used by MarkLogic server. 
        Required if authentication is kerberos and authorization is ldap or bind method is simple.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-password" type="ldap-password" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        password of the default ldap user. 
        Required if authentication is kerberos and authorization is ldap or bind method is simple.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-memberof-attribute" type="ldap-memberof-attribute" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        ldap attribute for group lookup. This is optional. If it is not specified, 
        "memberOf" will be used for search for the groups of a user.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-member-attribute" type="ldap-member-attribute" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        ldap attribute for group lookup. This is optional. If it is not specified, 
        "member" will be used for search for the group of a group.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-start-tls" type="boolean" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
         Whether or not to use start TLS request to the ldap server.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-certificate" type="pem" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The PEM encoded X509 certificate for MarkLogic server to connect the LDAP server.
        It can be used for mutual authentication if bind method is MD5 or simple.
        Or it can be used for external binding.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-private-key" type="pem" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The PEM encoded private key corresponding to the certificate.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ldap-server" type="ldap-server" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An LDAP server configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="saml-entity-id" type="saml-entity-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        SAML entity id. Required if authorization is SAML.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="saml-attribute-name" type="saml-attribute-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        SAML attribute name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="saml-attribute-names" type="saml-attribute-names" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A list of SAML attribute names.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="saml-privilege-attribute-name" type="saml-privilege-attribute-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        SAML privilege attribute name.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="saml-server" type="saml-server" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An SAML server configuration.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-require-client-certificate" type="boolean" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not a client certificate is required. This only has an
        effect when one or more more client certificate authorities are
        specified, in which case a value of true will fail client authentication
        if a valid client certificate is not provided.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-client-certificate-authority" type="ssl-certificate-authority-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An SSL certificate authority
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="ssl-client-certificate-authorities" type="ssl-client-certificate-authorities" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Certificate authorities that may sign client certificates for this
        server. Selecting one or more certificate authorities when SSL is
        enabled will require all clients to present a valid certificate signed
        by one of the selected authorities. Clicking on an organization below
        will reveal the certificate authorities for that organization.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="external-security-properties" type="external-security-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        An external authentication and authorization config.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>