xml/manage-cma.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xsi:schemaLocation="http://www.w3.org/2001/XMLSchema XMLSchema.xsd" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/config" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://marklogic.com/manage/config">
  <xs:element name="name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration profile name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="desc" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration description.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="user" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated by this user.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="group" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated by host in this group.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="host" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated by this host.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ts" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated at this timestamp.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="platform" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated by host running on this platform.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="version" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        Configuration was generated by host running this version of MarkLogic.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="param">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element name="name" type="xs:string"/>
      <xs:element name="value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="param" type="param">
    <xs:annotation>
      <xs:documentation>
        Configuration param contains name-value pairs.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="params">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="param"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="params" type="params">
    <xs:annotation>
      <xs:documentation>
        Configuration params contains sequence of param elements.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="config">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="skip"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="config" type="config">
    <xs:annotation>
      <xs:documentation>
        Configuration config contains resource properties.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="configs">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="config"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="configs" type="configs">
    <xs:annotation>
      <xs:documentation>
        Configuration configs contains sequence of config elements.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="configuration">
    <xs:all>
      <xs:element ref="name" minOccurs="0"/>
      <xs:element ref="desc" minOccurs="0"/>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element ref="group" minOccurs="0"/>
      <xs:element ref="host" minOccurs="0"/>
      <xs:element ref="platform" minOccurs="0"/>
      <xs:element ref="ts" minOccurs="0"/>
      <xs:element ref="version" minOccurs="0"/>
      <xs:element ref="params" minOccurs="0"/>
      <xs:element ref="configs" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="configuration" type="configuration">
    <xs:annotation>
      <xs:documentation>
        Configuration Management API (CMA) configuration.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>