xml/manage-view-schema-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2018 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/manage/view-schema/properties" xmlns="http://marklogic.com/manage/view-schema/properties" xmlns:this="http://marklogic.com/xdmp/view" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cts="http://marklogic.com/cts">
  <xs:annotation>
    <xs:documentation>
      Schema for specifying relational views.
    </xs:documentation>
    <xs:appinfo>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:element name="view-schema-properties" type="view-schema-properties">
    <xs:annotation>
      <xs:documentation>
      A relational schema definition.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="views" abstract="false" mixed="false">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element ref="view" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A permission.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="role-name"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="permissions" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of permissions
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="view-schema-properties">
    <xs:all>
      <xs:element ref="view-schema-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="views" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="permissions" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="view-schema-name" type="name">
    <xs:annotation>
      <xs:documentation>
        The name of a relational schema. This will be the SQL schema name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="schema-id" type="id">
    <xs:annotation>
      <xs:documentation>
      The unique ID of the schema.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="capability" type="capability" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permission" type="permission" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permissions" type="permissions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-name" type="role-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Role name (unique)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="views" type="views">
    <xs:annotation>
      <xs:documentation>
                A reference to the unique ID of a view.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view" type="xs:string">
    <xs:annotation>
      <xs:documentation>
      A reference to the unique ID of a view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="name">
    <xs:annotation>
      <xs:documentation>
      A SQL name, for a schema, view, or column.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:minLength value="1"/>
      <xs:pattern value="[^.\-\p{Z}]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
      A unique ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:element name="localname" type="localname">
    <xs:annotation>
      <xs:documentation>
      A local name of an element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="localname">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:element name="namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        The namespace URI of an element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="namespace-uri">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
</xs:schema>