xml/manage-flexrep-target-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema elementFormDefault="qualified" attributeFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/flexrep-target/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://marklogic.com/manage/flexrep-target/properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cpf="http://marklogic.com/cpf" xmlns:dom="http://marklogic.com/cpf/domains" xmlns:doc="xdmp:document-load" xmlns:prop="http://marklogic.com/xdmp/property" xmlns:error="http://marklogic.com/xdmp/error" xmlns:http="xdmp:http" xmlns:eval="xdmp:eval">
  <xs:import namespace="http://marklogic.com/cpf" schemaLocation="cpf.xsd"/>
  <xs:import namespace="http://marklogic.com/cpf/domains" schemaLocation="domains.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/error" schemaLocation="error.xsd"/>
  <xs:import namespace="xdmp:document-load" schemaLocation="document-load.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/property" schemaLocation="property.xsd"/>
  <xs:import namespace="http://marklogic.com/xdmp/security" schemaLocation="security.xsd"/>
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="xdmp:eval" schemaLocation="eval.xsd"/>
  <xs:simpleType name="target-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="credential-id">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="target-name">
    <xs:annotation>
      <xs:documentation>
        A target name.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="target-url">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="retry-seconds-min">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="retry-seconds-max">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="documents-per-batch">
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="enabled">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="replicate-cpf">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="filter-module">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="user-name">
    <xs:annotation/>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="immediate-push">
    <xs:annotation/>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:complexType name="filter-options" abstract="false" mixed="false">
    <xs:sequence>
      <xs:element ref="filter-option" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="http-options" abstract="false" mixed="false">
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="method" minOccurs="0"/>
      <xs:element ref="username" minOccurs="0"/>
      <xs:element ref="password" minOccurs="0"/>
      <xs:element ref="client-cert" minOccurs="0"/>
      <xs:element ref="client-key" minOccurs="0"/>
      <xs:element ref="client-pass-phrase" minOccurs="0"/>
      <xs:element ref="credential-id" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="flexrep-target-properties" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="target-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="retry-seconds-min" minOccurs="0"/>
      <xs:element ref="retry-seconds-max" minOccurs="0"/>
      <xs:element ref="documents-per-batch" minOccurs="0"/>
      <xs:element ref="enabled" minOccurs="0"/>
      <xs:element ref="replicate-cpf" minOccurs="0"/>
      <xs:element ref="http-options" minOccurs="0"/>
      <xs:element ref="filter-module" minOccurs="0"/>
      <xs:element ref="filter-options" minOccurs="0"/>
      <xs:element ref="user" minOccurs="0"/>
      <xs:element ref="immediate-push" minOccurs="0"/>
      <xs:element ref="urls" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="urls" abstract="false" mixed="false">
    <xs:sequence>
      <xs:element ref="url" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="flexrep-target-properties" type="flexrep-target-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A replication target.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="target-id" type="target-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The target id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="target-name" type="target-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A name for replication target.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="urls" type="urls" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        URLs for the replication application server on the target system.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="url" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A target URL for the replication application server on the target
        system.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="retry-seconds-min" type="retry-seconds-min" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The minimum number of seconds to wait before retrying a failed
        replication attempt for a document.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="retry-seconds-max" type="retry-seconds-max" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The maximum number of seconds to wait before retrying a failed
        replication attempt for a document.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="documents-per-batch" type="documents-per-batch" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The number of documents to attempt to transfer in each batch.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="enabled" type="enabled" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not this target is enabled. If the target is disabled, no
        attempt will be made to push replications.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="replicate-cpf" type="replicate-cpf" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether or not CPF properties and derived documents should be
        replicated. This should be set to false unless you know what you
        are doing.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="credential-id" type="credential-id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The credential id.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="auth-method">
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="basic"/>
      <xs:enumeration value="digest"/>
      <xs:enumeration value="aws"/>
      <xs:enumeration value="aws4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="method" type="auth-method">
    <xs:annotation>
      <xs:documentation>
        The method to use.
      </xs:documentation>
      <xs:appinfo>
      </xs:appinfo>
    </xs:annotation>
  </xs:element>
  <xs:element name="http-options" type="http-options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The HTTP options to use when connecting to the
        replication application server.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="filter-module" type="filter-module" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The name of a module to invoke as a filter.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="filter-option" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
                A filter option.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="filter-options" type="eval:options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The options to use when invoking the filter module.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="user" type="user-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The user that this target is associated with. If a username is
        specified, the target is query based.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="username" type="user-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="password" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-cert" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-key" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="client-pass-phrase" type="xs:string" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>

            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="immediate-push" type="immediate-push" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Whether an immediate push should be performed when a document is
        inserted or updated. If false, replication
        will be handled entirely by the retry task. This is only
        relevant for push targets that are not query-based.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>