xml/manage-view-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2018 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema targetNamespace="http://marklogic.com/manage/view/properties" xmlns="http://marklogic.com/manage/view/properties" xmlns:this="http://marklogic.com/manage/view/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:annotation>
    <xs:documentation>
      Schema for specifying relational views.
    </xs:documentation>
    <xs:appinfo>
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="view-properties" type="view-properties">
    <xs:annotation>
      <xs:documentation>
        A relational view over a collection of range indexes.      
      </xs:documentation>
    </xs:annotation>
    <xs:unique name="unique-names">
      <xs:selector xpath="this:columns/this:column|this:fields/this:field"/>
      <xs:field xpath="this:column-name|this:field-name"/>
    </xs:unique>
  </xs:element>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A permission.
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="role-name"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="permissions" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
	A set of permissions
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission" minOccurs="1" maxOccurs="1"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="view-properties">
    <xs:all>
      <xs:element ref="view-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="schema-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="element-scope" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="collection-scope" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="ordered" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="columns" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="fields" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="permissions" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="schema-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
            The name of a relational schema. This will be the SQL schema name.
        </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-id" type="id">
    <xs:annotation>
      <xs:documentation>
      The unique ID of the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="view-name" type="xs:string">
    <xs:annotation>
      <xs:documentation>
        The name of a relational view. This will be the SQL view name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="element-scope">
    <xs:all>
      <xs:element ref="namespace-uri" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="localname" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="element-scope" type="element-scope">
    <xs:annotation>
      <xs:documentation>
      A view scope defined by a root element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="collection-uri">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:element name="collection" type="collection-uri"/>
  <xs:complexType name="collection-scope">
    <xs:sequence>
      <xs:element ref="collection"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="collection-scope" type="collection-scope">
    <xs:annotation>
      <xs:documentation>
                A view scope defined by a collection.
            </xs:documentation>
    </xs:annotation>
  </xs:element>
  <!--xs:element name="scope" type="view-scope" abstract="true">
    <xs:annotation>
      <xs:documentation>
      A scope defining which documents are members of the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element-->
  <xs:element name="ordered" type="xs:boolean">
    <xs:annotation>
      <xs:documentation>
      Whether the columns in the view must appear in order in the document.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="columns" type="columns">
    <xs:annotation>
      <xs:documentation>
      The columns in the view.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="columns">
    <xs:sequence>
      <xs:element ref="column" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="column" type="column">
    <xs:annotation>
      <xs:documentation>
        A column in a relational view defined over some range index.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="column">
    <xs:sequence>
      <xs:element ref="column-name"/>
      <xs:element ref="cts:base-reference"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="column-name" type="name">
    <xs:annotation>
      <xs:documentation>
        The name of the column in the relational view. This will be the SQL column name.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="fields" type="fields"/>
  <xs:complexType name="fields">
    <xs:sequence>
      <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="field" type="field"/>
  <xs:complexType name="field">
    <xs:annotation>
      <xs:documentation>
        A field available for search with the SQL MATCH clause.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="field-name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="field-name" type="name"/>
  <xs:simpleType name="name">
    <xs:annotation>
      <xs:documentation>
      A SQL name, for a schema, view, or column.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName">
      <xs:minLength value="1"/>
      <xs:pattern value="[^.\-\p{Z}]+"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
      A unique ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="localname">
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:element name="localname" type="localname">
    <xs:annotation>
      <xs:documentation>
      A local name of an element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="namespace-uri" type="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        The namespace URI of an element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:simpleType name="namespace-uri">
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:element name="capability" type="capability" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permission" type="permission" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="permissions" type="permissions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-name" type="role-name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Role name (unique)
      </xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>