xml/manage-temporal-collection-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/temporal-collection/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/temporal-collection/properties" xmlns:this="http://marklogic.com/xdmp/temporal" xmlns:cts="http://marklogic.com/cts">
  <xs:import namespace="http://marklogic.com/cts" schemaLocation="cts.xsd"/>
  <xs:simpleType name="name">
    <xs:annotation>
      <xs:documentation>
      A name, for a temporal axis or collection.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="option">
    <xs:annotation>
      <xs:documentation>
         Option represented as a string
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
      A unique ID.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:complexType name="temporal-collection-properties" abstract="false" mixed="false">
    <xs:all>
      <xs:element ref="collection-id" minOccurs="0"/>
      <xs:element ref="collection-name" minOccurs="0"/>
      <xs:element ref="system-axis" minOccurs="0"/>
      <xs:element ref="valid-axis" minOccurs="0"/>
      <xs:element ref="options" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="collection-options" abstract="false" mixed="false">
    <xs:sequence minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="option"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="temporal-collection-properties" type="temporal-collection-properties" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A temporal collection with a system and valid axis.      
      </xs:documentation>
    </xs:annotation>
    <xs:unique name="collection-unique-names">
      <xs:selector xpath="this:collection"/>
      <xs:field xpath="this:collection-name"/>
    </xs:unique>
  </xs:element>
  <xs:element name="options" type="collection-options" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Options for a temporal collection      
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="collection-id" type="id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
      The unique ID of the collection.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="collection-name" type="name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The name of a temporal collection. 
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="system-axis" type="name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        System axis name for the temproal collection.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="valid-axis" type="name" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Valid axis name for the temporal collection.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="option" type="option" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	    Option for temporal collection.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:annotation>
    <xs:documentation>
      Schema for specifying temporal management configurations.
    </xs:documentation>
    <xs:appinfo/>
  </xs:annotation>
  <?xdmp-annotations?>
</xs:schema>