xml/manage-protected-path-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/protected-path/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/protected-path/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="capability">
    <xs:annotation>
      <xs:documentation>
        The action permitted on an object.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:enumeration value="read"/>
      <xs:enumeration value="update"/>
      <xs:enumeration value="insert"/>
      <xs:enumeration value="execute"/>
      <xs:enumeration value="node-update"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="id">
    <xs:annotation>
      <xs:documentation>
        An object's unique id.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:unsignedLong"/>
  </xs:simpleType>
  <xs:simpleType name="path-expression">
    <xs:annotation>
      <xs:documentation>
        The XPath that specifies the XML element or JSON property in a protected-path definition         
       </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="prefix">
    <xs:annotation>
      <xs:documentation>
        A QName prefix.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:NCName"/>
  </xs:simpleType>
  <xs:simpleType name="namespace-uri">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:anyURI"/>
  </xs:simpleType>
  <xs:simpleType name="path-set">
    <xs:annotation>
      <xs:documentation>
        Name of the path set.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token"/>
  </xs:simpleType>
  <xs:simpleType name="role-name">
    <xs:annotation>
      <xs:documentation/>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:NMTOKEN">
      <xs:minLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="role-name" type="role-name">
    <xs:annotation>
      <xs:documentation>
The Role name (unique)
</xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="permission" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
                A permission.
</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="role-id" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="role-name" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="capability" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="permissions" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
                A set of permissions
</xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="permission"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="path-namespace" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A namespace binding specification.
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="prefix" minOccurs="1" maxOccurs="1"/>
      <xs:element ref="namespace-uri" minOccurs="1" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="path-namespaces" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Namespace bindings
      </xs:documentation>
    </xs:annotation>
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="path-namespace"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="protected-path" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        A protected-path definition
      </xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element ref="path-id" minOccurs="0"/>
      <xs:element ref="path-expression" minOccurs="0"/>
      <xs:element ref="path-namespaces" minOccurs="0"/>
      <xs:element ref="permissions" minOccurs="0"/>
      <xs:element ref="path-set" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="capability" type="capability" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	The action/task permitted by a permission
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="permission" type="permission" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	Permission representation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="permissions" type="permissions" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
	The default set of permissions used in document creation.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="role-id" type="id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
  	A role identifier (unique key).
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="path-id" type="id" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Identifier for a protected-path definition
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="path-expression" type="path-expression" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
         The XPath that specifies the XML element or JSON property in a protected-path definition       
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="prefix" type="prefix" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A QName prefix.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="namespace-uri" type="namespace-uri" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A namespace URI.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="path-namespace" type="path-namespace" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A namespace binding specification.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="path-namespaces" type="path-namespaces" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Namespace bindings
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="path-set" type="path-set" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Path Set
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="protected-path-properties" type="protected-path" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        A protected-path definition
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>