xml/manage-temporal-lsqt-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright 2002-2018 MarkLogic Corporation.  All Rights Reserved. -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://marklogic.com/manage/temporal-collection/lsqt/properties" xmlns="http://marklogic.com/manage/temporal-collection/lsqt/properties" xmlns:this="http://marklogic.com/manage/temporal-collection/lsqt/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:documentation> Schema for specifying temporal lsqt properties. </xs:documentation>
    <xs:appinfo> </xs:appinfo>
  </xs:annotation>
  <xs:element name="temporal-lsqt-properties" type="temporal-lsqt-properties">
    <xs:annotation>
      <xs:documentation> A relational view over a collection of range indexes.
            </xs:documentation>
    </xs:annotation>
    <xs:unique name="unique-names">
      <xs:selector xpath="this:columns/this:column|this:fields/this:field"/>
      <xs:field xpath="this:column-name|this:field-name"/>
    </xs:unique>
  </xs:element>
  <xs:complexType name="temporal-lsqt-properties">
    <xs:all>
      <xs:element ref="lsqt-enabled" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="automation" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="lsqt-enabled" type="xs:boolean">
    <xs:annotation>
      <xs:documentation> Enable lsqt behaviour on temporal collection in context database </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="automation">
    <xs:all>
      <xs:element name="enabled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="period" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="lag" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="automation" type="automation">
    <xs:annotation>
      <xs:documentation> Enable automation and set automation period &amp; lag.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>