xml/manage-credentials-properties.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright 2012-2018 MarkLogic Corporation.  All Rights Reserved.-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://marklogic.com/manage/credentials/properties" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:admin="http://marklogic.com/xdmp/admin" xmlns:manage="http://marklogic.com/xdmp/manage" xmlns="http://marklogic.com/manage/credentials/properties" xmlns:http="xdmp:http" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:import namespace="xdmp:http" schemaLocation="http.xsd"/>
  <xs:import namespace="urn:oasis:names:tc:SAML:2.0:metadata" schemaLocation="saml-schema-metadata-2.0.xsd"/>
  <xs:simpleType name="access-key">
    <xs:annotation>
      <xs:documentation>
        An Amazon Web Services access key.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="secret-key">
    <xs:annotation>
      <xs:documentation>
        An Amazon Web Services secret key
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="session-token">
    <xs:annotation>
      <xs:documentation>
        An Amazon Web Services session token.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1" fixed="false"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="aws" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Credentials
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
    <xs:all minOccurs="1" maxOccurs="1">
      <xs:element ref="access-key" minOccurs="0"/>
      <xs:element ref="secret-key" minOccurs="0"/>
      <xs:element ref="session-token" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="access-key" type="access-key" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Amazon Web Services access key.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="secret-key" type="secret-key" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Amazon Web Services secret key.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="session-token" type="session-token" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        The Amazon Web Services session token.
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:element name="aws" type="aws" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Credentials
      </xs:documentation>
      <xs:appinfo/>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="credentials" abstract="false" mixed="false">
    <xs:annotation>
      <xs:documentation>
        Credentials properties
      </xs:documentation>
    </xs:annotation>
    <xs:all minOccurs="0">
      <xs:element ref="aws" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
  <xs:element name="credentials-properties" type="credentials" abstract="false" nillable="false">
    <xs:annotation>
      <xs:documentation>
        Credentials properties
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <?xdmp-annotations?>
</xs:schema>